<a href="https://colab.research.google.com/github/NeelaRai12/PythonWorldometerProject/blob/master/ProjectWork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
url = BeautifulSoup('https://www.worldometers.info/coronavirus/', 'html.parser')
url

/usr/local/lib/python3.6/dist-packages/bs4/__init__.py:336: UserWarning:

"https://www.worldometers.info/coronavirus/" looks like a URL. Beautiful Soup is not an HTTP client. You should probably use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.

https://www.worldometers.info/coronavirus/

In [ ]:
response = requests.get(url)
data = response.text
data = BeautifulSoup(data,'lxml')
data

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]--><!--[if IE 9]> <html lang="en" class="ie9"> <![endif]--><!--[if !IE]><!--><html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>Coronavirus Update (Live): 108,313,117 Cases and 2,379,137 Deaths from COVID-19 Virus Pandemic - Worldometer</title>
<meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates" name="description"/>
<link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
<link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
<link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
<link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
<link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
<link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
<link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
<link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
<link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
<link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
<link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="/favicon/manifest.json" rel="manifest"/>
<meta content="#ffffff" name="msapplication-TileColor"/>
<meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
<meta content="#ffffff" name="theme-color"/>
<meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image"/>
<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/wm16.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
$(document).ready(function() {
	$('#popbycountry').dataTable();
} );
	</script>
<script data-cfasync="false" type="text/javascript">
  var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
</script>
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
</script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
</script>
<link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
</script>
<style type="text/css">
    .style1 {
        color: #666666
    }
</style>
<div class="navbar navbar-default">
<div class="container">
<div class="navbar-header">
<div class="logo"><a class="navbar-brand" href="/"><img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/></a></div>
<button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse" id="navbar-main">
<ul class="nav navbar-nav">
<li><a href="/coronavirus/"><span style="color:#FF9900; font-weight:bold">Coronavirus</span></a></li>
<li><a href="/population/">Population</a></li>
</ul>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div style="text-align:left; margin-bottom:10px">
<script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="row"> <div class="col-md-8">
<div class="content-inner">
<style>
    .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
</style>
<script src="/js/highcharts.js"></script>
<style type="text/css">
    <!--
    .source { }

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }    .source111 {

    } .source1111 {
        font-size: 12px;
        color: #bbb;
    }



    -->
</style>
<div class="label-counter" id="page-top">COVID-19 Coronavirus Pandemic</div>
<div style="font-size:13px; color:#999; margin-top:5px; text-align:center">Last updated: February 12, 2021, 07:12 GMT</div>
<div style="margin-top:20px; text-align:center; font-size:14px"><a href="/coronavirus/coronavirus-cases/"> </a><a href="/coronavirus/worldwide-graphs/">Graphs</a> - <a href="#countries">Countries</a> - <a href="#news">News</a></div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Coronavirus Cases:</h1>
<div class="maincounter-number">
<span style="color:#aaa">108,313,117 </span>
</div>
</div>
<div style="text-align:center "><a href="#countries">view by country</a></div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Deaths:</h1>
<div class="maincounter-number">
<span>2,379,137</span>
</div>
</div>
<div id="maincounter-wrap" style="margin-top:15px;">
<h1>Recovered:</h1>
<div class="maincounter-number" style="color:#8ACA2B ">
<span>80,360,601</span>
</div>
</div>
<div style="margin-top:50px;"></div>
<style>
    .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
</style>
<script>
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });
    });
</script>
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading" style="text-align:center">
<span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
Active Cases
</span>
</div>
<div class="panel-body" style="text-align:center; height:200px;">
<div class="panel_flip">
<div class="panel_front" style="width:100%;height:100%;">
<div class="number-table-main">25,424,100</div>
<div style="font-size:13.5px">Currently Infected Patients</div>
<div style="padding-top:20px;position:relative;text-align:center; ">
<div style="float:left; text-align:center">
<span class="number-table" style="color:#8080FF">25,473,431</span> (<strong>99.6</strong>%)
<div style="font-size:13px">in Mild Condition</div><br/>
</div>
<div style="float:right; text-align:center"><span class="number-table" style="color:red ">99,948</span> (<strong>0.4</strong>%)
<div style="font-size:13px">Serious or Critical</div><br/>
</div>
</div>
<a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;position:absolute;bottom:-8px;width:100%;">Show Graph</a>
</div>
<div class="panel_back" style="width:100%;height:100%;">
<div id="total-currently-infected-linear"></div>
<script type="text/javascript">
    Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {
            categories: ["Jan 22, 2020","Jan 23, 2020","Jan 24, 2020","Jan 25, 2020","Jan 26, 2020","Jan 27, 2020","Jan 28, 2020","Jan 29, 2020","Jan 30, 2020","Jan 31, 2020","Feb 01, 2020","Feb 02, 2020","Feb 03, 2020","Feb 04, 2020","Feb 05, 2020","Feb 06, 2020","Feb 07, 2020","Feb 08, 2020","Feb 09, 2020","Feb 10, 2020","Feb 11, 2020","Feb 12, 2020","Feb 13, 2020","Feb 14, 2020","Feb 15, 2020","Feb 16, 2020","Feb 17, 2020","Feb 18, 2020","Feb 19, 2020","Feb 20, 2020","Feb 21, 2020","Feb 22, 2020","Feb 23, 2020","Feb 24, 2020","Feb 25, 2020","Feb 26, 2020","Feb 27, 2020","Feb 28, 2020","Feb 29, 2020","Mar 01, 2020","Mar 02, 2020","Mar 03, 2020","Mar 04, 2020","Mar 05, 2020","Mar 06, 2020","Mar 07, 2020","Mar 08, 2020","Mar 09, 2020","Mar 10, 2020","Mar 11, 2020","Mar 12, 2020","Mar 13, 2020","Mar 14, 2020","Mar 15, 2020","Mar 16, 2020","Mar 17, 2020","Mar 18, 2020","Mar 19, 2020","Mar 20, 2020","Mar 21, 2020","Mar 22, 2020","Mar 23, 2020","Mar 24, 2020","Mar 25, 2020","Mar 26, 2020","Mar 27, 2020","Mar 28, 2020","Mar 29, 2020","Mar 30, 2020","Mar 31, 2020","Apr 01, 2020","Apr 02, 2020","Apr 03, 2020","Apr 04, 2020","Apr 05, 2020","Apr 06, 2020","Apr 07, 2020","Apr 08, 2020","Apr 09, 2020","Apr 10, 2020","Apr 11, 2020","Apr 12, 2020","Apr 13, 2020","Apr 14, 2020","Apr 15, 2020","Apr 16, 2020","Apr 17, 2020","Apr 18, 2020","Apr 19, 2020","Apr 20, 2020","Apr 21, 2020","Apr 22, 2020","Apr 23, 2020","Apr 24, 2020","Apr 25, 2020","Apr 26, 2020","Apr 27, 2020","Apr 28, 2020","Apr 29, 2020","Apr 30, 2020","May 01, 2020","May 02, 2020","May 03, 2020","May 04, 2020","May 05, 2020","May 06, 2020","May 07, 2020","May 08, 2020","May 09, 2020","May 10, 2020","May 11, 2020","May 12, 2020","May 13, 2020","May 14, 2020","May 15, 2020","May 16, 2020","May 17, 2020","May 18, 2020","May 19, 2020","May 20, 2020","May 21, 2020","May 22, 2020","May 23, 2020","May 24, 2020","May 25, 2020","May 26, 2020","May 27, 2020","May 28, 2020","May 29, 2020","May 30, 2020","May 31, 2020","Jun 01, 2020","Jun 02, 2020","Jun 03, 2020","Jun 04, 2020","Jun 05, 2020","Jun 06, 2020","Jun 07, 2020","Jun 08, 2020","Jun 09, 2020","Jun 10, 2020","Jun 11, 2020","Jun 12, 2020","Jun 13, 2020","Jun 14, 2020","Jun 15, 2020","Jun 16, 2020","Jun 17, 2020","Jun 18, 2020","Jun 19, 2020","Jun 20, 2020","Jun 21, 2020","Jun 22, 2020","Jun 23, 2020","Jun 24, 2020","Jun 25, 2020","Jun 26, 2020","Jun 27, 2020","Jun 28, 2020","Jun 29, 2020","Jun 30, 2020","Jul 01, 2020","Jul 02, 2020","Jul 03, 2020","Jul 04, 2020","Jul 05, 2020","Jul 06, 2020","Jul 07, 2020","Jul 08, 2020","Jul 09, 2020","Jul 10, 2020","Jul 11, 2020","Jul 12, 2020","Jul 13, 2020","Jul 14, 2020","Jul 15, 2020","Jul 16, 2020","Jul 17, 2020","Jul 18, 2020","Jul 19, 2020","Jul 20, 2020","Jul 21, 2020","Jul 22, 2020","Jul 23, 2020","Jul 24, 2020","Jul 25, 2020","Jul 26, 2020","Jul 27, 2020","Jul 28, 2020","Jul 29, 2020","Jul 30, 2020","Jul 31, 2020","Aug 01, 2020","Aug 02, 2020","Aug 03, 2020","Aug 04, 2020","Aug 05, 2020","Aug 06, 2020","Aug 07, 2020","Aug 08, 2020","Aug 09, 2020","Aug 10, 2020","Aug 11, 2020","Aug 12, 2020","Aug 13, 2020","Aug 14, 2020","Aug 15, 2020","Aug 16, 2020","Aug 17, 2020","Aug 18, 2020","Aug 19, 2020","Aug 20, 2020","Aug 21, 2020","Aug 22, 2020","Aug 23, 2020","Aug 24, 2020","Aug 25, 2020","Aug 26, 2020","Aug 27, 2020","Aug 28, 2020","Aug 29, 2020","Aug 30, 2020","Aug 31, 2020","Sep 01, 2020","Sep 02, 2020","Sep 03, 2020","Sep 04, 2020","Sep 05, 2020","Sep 06, 2020","Sep 07, 2020","Sep 08, 2020","Sep 09, 2020","Sep 10, 2020","Sep 11, 2020","Sep 12, 2020","Sep 13, 2020","Sep 14, 2020","Sep 15, 2020","Sep 16, 2020","Sep 17, 2020","Sep 18, 2020","Sep 19, 2020","Sep 20, 2020","Sep 21, 2020","Sep 22, 2020","Sep 23, 2020","Sep 24, 2020","Sep 25, 2020","Sep 26, 2020","Sep 27, 2020","Sep 28, 2020","Sep 29, 2020","Sep 30, 2020","Oct 01, 2020","Oct 02, 2020","Oct 03, 2020","Oct 04, 2020","Oct 05, 2020","Oct 06, 2020","Oct 07, 2020","Oct 08, 2020","Oct 09, 2020","Oct 10, 2020","Oct 11, 2020","Oct 12, 2020","Oct 13, 2020","Oct 14, 2020","Oct 15, 2020","Oct 16, 2020","Oct 17, 2020","Oct 18, 2020","Oct 19, 2020","Oct 20, 2020","Oct 21, 2020","Oct 22, 2020","Oct 23, 2020","Oct 24, 2020","Oct 25, 2020","Oct 26, 2020","Oct 27, 2020","Oct 28, 2020","Oct 29, 2020","Oct 30, 2020","Oct 31, 2020","Nov 01, 2020","Nov 02, 2020","Nov 03, 2020","Nov 04, 2020","Nov 05, 2020","Nov 06, 2020","Nov 07, 2020","Nov 08, 2020","Nov 09, 2020","Nov 10, 2020","Nov 11, 2020","Nov 12, 2020","Nov 13, 2020","Nov 14, 2020","Nov 15, 2020","Nov 16, 2020","Nov 17, 2020","Nov 18, 2020","Nov 19, 2020","Nov 20, 2020","Nov 21, 2020","Nov 22, 2020","Nov 23, 2020","Nov 24, 2020","Nov 25, 2020","Nov 26, 2020","Nov 27, 2020","Nov 28, 2020","Nov 29, 2020","Nov 30, 2020","Dec 01, 2020","Dec 02, 2020","Dec 03, 2020","Dec 04, 2020","Dec 05, 2020","Dec 06, 2020","Dec 07, 2020","Dec 08, 2020","Dec 09, 2020","Dec 10, 2020","Dec 11, 2020","Dec 12, 2020","Dec 13, 2020","Dec 14, 2020","Dec 15, 2020","Dec 16, 2020","Dec 17, 2020","Dec 18, 2020","Dec 19, 2020","Dec 20, 2020","Dec 21, 2020","Dec 22, 2020","Dec 23, 2020","Dec 24, 2020","Dec 25, 2020","Dec 26, 2020","Dec 27, 2020","Dec 28, 2020","Dec 29, 2020","Dec 30, 2020","Dec 31, 2020","Jan 01, 2021","Jan 02, 2021","Jan 03, 2021","Jan 04, 2021","Jan 05, 2021","Jan 06, 2021","Jan 07, 2021","Jan 08, 2021","Jan 09, 2021","Jan 10, 2021","Jan 11, 2021","Jan 12, 2021","Jan 13, 2021","Jan 14, 2021","Jan 15, 2021","Jan 16, 2021","Jan 17, 2021","Jan 18, 2021","Jan 19, 2021","Jan 20, 2021","Jan 21, 2021","Jan 22, 2021","Jan 23, 2021","Jan 24, 2021","Jan 25, 2021","Jan 26, 2021","Jan 27, 2021","Jan 28, 2021","Jan 29, 2021","Jan 30, 2021","Jan 31, 2021","Feb 01, 2021","Feb 02, 2021","Feb 03, 2021","Feb 04, 2021","Feb 05, 2021","Feb 06, 2021","Feb 07, 2021","Feb 08, 2021","Feb 09, 2021","Feb 10, 2021","Feb 11, 2021"]
        },

        yAxis: {
            title: {
                text: 'Currently Infected',
                enabled: false

            }
            /*tickInterval: 20000,*/

            /*categories: [0,50000],
            labels: {

                format: "{value:,.%0f}"
            }*/
            /*labels: {
                step: 15
            }*/

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            enabled: false
        },

        credits: {
            enabled: false
        },
        plotOptions: {
            line: {
                marker: {
                    enabled: false
                }
            }
        },


        series: [{
            name: 'Currently Infected',
            color: '#00DDDD',
            lineWidth: 5,

In [ ]:

tag = data.table
table_rows = tag.find_all('tr')
table_rows

[<tr>
 <th width="1%">#</th>
 <th width="100">Country,<br/>Other</th>
 <th width="20">Total<br/>Cases</th>
 <th width="30">New<br/>Cases</th>
 <th width="30">Total<br/>Deaths</th>
 <th width="30">New<br/>Deaths</th>
 <th width="30">Total<br/>Recovered</th>
 <th width="30">New<br/>Recovered</th>
 <th width="30">Active<br/>Cases</th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">Tot Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th width="30">Population</th>
 <th style="display:none" width="30">Continent</th>
 <th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="North America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>North America</nobr>
 </td>
 <td>32,066,067</td>
 <td>+11,564</td>
 <td>704,098</td>
 <td>+1,514</td>
 <td>21,226,611</td>
 <td>+9,603</td>
 <td>10,135,358</td>
 <td>27,190</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="North America" style="display:none;">North America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Asia</nobr>
 </td>
 <td>23,847,968</td>
 <td>+3,811</td>
 <td>383,266</td>
 <td>+64</td>
 <td>22,362,463</td>
 <td>+6,309</td>
 <td>1,102,239</td>
 <td>22,385</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Asia" style="display:none;">Asia</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>South America</nobr>
 </td>
 <td>16,731,073</td>
 <td>+1,352</td>
 <td>436,883</td>
 <td>+48</td>
 <td>15,066,055</td>
 <td>+1,619</td>
 <td>1,228,135</td>
 <td>19,924</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="South America" style="display:none;">South America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Europe</nobr>
 </td>
 <td>31,877,506</td>
 <td>+15,838</td>
 <td>756,410</td>
 <td>+214</td>
 <td>18,550,912</td>
 <td>+21,214</td>
 <td>12,570,184</td>
 <td>27,903</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Europe" style="display:none;">Europe</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Africa</nobr>
 </td>
 <td>3,739,257</td>
 <td></td>
 <td>97,385</td>
 <td></td>
 <td>3,268,948</td>
 <td></td>
 <td>372,924</td>
 <td>2,540</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Africa" style="display:none;">Africa</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Oceania</nobr>
 </td>
 <td>50,525</td>
 <td>+12</td>
 <td>1,080</td>
 <td></td>
 <td>34,185</td>
 <td>+16</td>
 <td>15,260</td>
 <td>6</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr></nobr>
 </td>
 <td>721</td>
 <td></td>
 <td>15</td>
 <td></td>
 <td>706</td>
 <td></td>
 <td>0</td>
 <td>0</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="" style="display:none;"></td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world">
 <td></td>
 <td style="text-align:left;">World</td>
 <td>108,313,117</td>
 <td>+32,577</td>
 <td>2,379,137</td>
 <td>+1,840</td>
 <td>80,509,880</td>
 <td>+38,761</td>
 <td>25,424,100</td>
 <td>99,948</td>
 <td>13,896</td>
 <td>305.2</td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="all" style="display:none">All</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td style="font-weight: bold; text-align:right">28,002,240</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">486,922 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">17,930,819</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">9,584,499</td>
 <td style="font-weight: bold; text-align:right">20,407</td>
 <td style="font-weight: bold; text-align:right">84,294</td>
 <td style="font-weight: bold; text-align:right">1,466</td>
 <td style="font-weight: bold; text-align:right">330,318,833</td>
 <td style="font-weight: bold; text-align:right">994,342</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">332,198,570</a> </td>
 <td data-continent="North America" style="display:none">North America</td>
 <td>12</td><td>682</td><td>1</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
 <td style="font-weight: bold; text-align:right">10,880,603</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+190</td>
 <td style="font-weight: bold; text-align:right;">155,484 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">10,589,230</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+1,879</td>
 <td style="text-align:right;font-weight:bold;">135,889</td>
 <td style="font-weight: bold; text-align:right">8,944</td>
 <td style="font-weight: bold; text-align:right">7,837</td>
 <td style="font-weight: bold; text-align:right">112</td>
 <td style="font-weight: bold; text-align:right">204,789,784</td>
 <td style="font-weight: bold; text-align:right">147,506</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,388,345,614</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>128</td><td>8,929</td><td>7</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
 <td style="font-weight: bold; text-align:right">9,716,298</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">236,397 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">8,643,693</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">836,208</td>
 <td style="font-weight: bold; text-align:right">8,318</td>
 <td style="font-weight: bold; text-align:right">45,512</td>
 <td style="font-weight: bold; text-align:right">1,107</td>
 <td style="font-weight: bold; text-align:right">28,600,000</td>
 <td style="font-weight: bold; text-align:right">133,964</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">213,489,750</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>22</td><td>903</td><td>7</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
 <td style="font-weight: bold; text-align:right">4,027,748</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">78,687 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">3,538,422</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">410,639</td>
 <td style="font-weight: bold; text-align:right">2,300</td>
 <td style="font-weight: bold; text-align:right">27,592</td>
 <td style="font-weight: bold; text-align:right">539</td>
 <td style="font-weight: bold; text-align:right">105,600,000</td>
 <td style="font-weight: bold; text-align:right">723,421</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,973,128</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>36</td><td>1,855</td><td>1</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
 <td style="font-weight: bold; text-align:right">3,998,655</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">115,529 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">2,056,261</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">1,826,865</td>
 <td style="font-weight: bold; text-align:right">3,132</td>
 <td style="font-weight: bold; text-align:right">58,712</td>
 <td style="font-weight: bold; text-align:right">1,696</td>
 <td style="font-weight: bold; text-align:right">80,267,452</td>
 <td style="font-weight: bold; text-align:right">1,178,570</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,105,802</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>17</td><td>590</td><td>1</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
 <td style="font-weight: bold; text-align:right">3,406,685</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">80,803 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">238,753</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">3,087,129</td>
 <td style="font-weight: bold; text-align:right">3,337</td>
 <td style="font-weight: bold; text-align:right">52,120</td>
 <td style="font-weight: bold; text-align:right">1,236</td>
 <td style="font-weight: bold; text-align:right">47,466,482</td>
 <td style="font-weight: bold; text-align:right">726,202</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,362,676</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>19</td><td>809</td><td>1</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
 <td style="font-weight: bold; text-align:right">3,041,454</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">64,217 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">4,432</td>
 <td style="font-weight: bold; text-align:right">65,036</td>
 <td style="font-weight: bold; text-align:right">1,373</td>
 <td style="font-weight: bold; text-align:right">35,782,465</td>
 <td style="font-weight: bold; text-align:right">765,139</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,765,968</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>15</td><td>728</td><td>1</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
 <td style="font-weight: bold; text-align:right">2,683,403</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">92,729 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">2,185,655</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">405,019</td>
 <td style="font-weight: bold; text-align:right">2,126</td>
 <td style="font-weight: bold; text-align:right">44,422</td>
 <td style="font-weight: bold; text-align:right">1,535</td>
 <td style="font-weight: bold; text-align:right">35,384,786</td>
 <td style="font-weight: bold; text-align:right">585,775</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,406,838</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>23</td><td>651</td><td>2</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
 <td style="font-weight: bold; text-align:right">2,564,427</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">27,187 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">2,453,096</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">84,144</td>
 <td style="font-weight: bold; text-align:right">1,256</td>
 <td style="font-weight: bold; text-align:right">30,206</td>
 <td style="font-weight: bold; text-align:right">320</td>
 <td style="font-weight: bold; text-align:right">31,159,676</td>
 <td style="font-weight: bold; text-align:right">367,030</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">84,896,711</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>33</td><td>3,123</td><td>3</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
 <td style="font-weight: bold; text-align:right">2,321,215</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">64,513 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">2,101,000</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+13,400</td>
 <td style="text-align:right;font-weight:bold;">155,702</td>
 <td style="font-weight: bold; text-align:right">3,736</td>
 <td style="font-weight: bold; text-align:right">27,650</td>
 <td style="font-weight: bold; text-align:right">768</td>
 <td style="font-weight: bold; text-align:right">41,758,675</td>
 <td style="font-weight: bold; text-align:right">497,428</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,949,242</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>36</td><td>1,301</td><td>2</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/colombia/">Colombia</a></td>
 <td style="font-weight: bold; text-align:right">2,179,641</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">56,983 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">2,065,209</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">57,449</td>
 <td style="font-weight: bold; text-align:right">3,482</td>
 <td style="font-weight: bold; text-align:right">42,558</td>
 <td style="font-weight: bold; text-align:right">1,113</td>
 <td style="font-weight: bold; text-align:right">10,716,322</td>
 <td style="font-weight: bold; text-align:right">209,237</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/colombia-population/">51,216,160</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>23</td><td>899</td><td>5</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>
 <td style="font-weight: bold; text-align:right">2,008,345</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">49,874 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">1,806,260</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">152,211</td>
 <td style="font-weight: bold; text-align:right">3,541</td>
 <td style="font-weight: bold; text-align:right">44,187</td>
 <td style="font-weight: bold; text-align:right">1,097</td>
 <td style="font-weight: bold; text-align:right">6,690,005</td>
 <td style="font-weight: bold; text-align:right">147,192</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/argentina-population/">45,450,837</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>23</td><td>911</td><td>7</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/mexico/">Mexico</a></td>
 <td style="font-weight: bold; text-align:right">1,968,566</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+10,677</td>
 <td style="font-weight: bold; text-align:right;">171,234 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+1,474</td>
 <td style="font-weight: bold; text-align:right">1,528,304</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+8,732</td>
 <td style="text-align:right;font-weight:bold;">269,028</td>
 <td style="font-weight: bold; text-align:right">4,798</td>

In [ ]:
headings = []
for th in table_rows[0].find_all("th"):
  print(th.text)
  headings.append(th.text.replace("\n"," ").strip())
print(headings)

#
Country,Other
TotalCases
NewCases
TotalDeaths
NewDeaths
TotalRecovered
NewRecovered
ActiveCases
Serious,Critical
Tot Cases/1M pop
Deaths/1M pop
TotalTests
Tests/
1M pop

Population
Continent
1 Caseevery X ppl
1 Deathevery X ppl
1 Testevery X ppl
['#', 'Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical', 'Tot\xa0Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/ 1M pop', 'Population', 'Continent', '1 Caseevery X ppl', '1 Deathevery X ppl', '1 Testevery X ppl']

In [ ]:
headings = list(headings)
headings

['#',
 'Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/ 1M pop',
 'Population',
 'Continent',
 '1 Caseevery X ppl',
 '1 Deathevery X ppl',
 '1 Testevery X ppl']

In [ ]:
del headings[-4]
del headings[-3]
del headings[-2]
del headings[-1]
del headings[0]

In [ ]:
print(headings)

['Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical', 'Tot\xa0Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/ 1M pop', 'Population']

In [ ]:
body = tag.tbody.find_all('tr')
body[0]

<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>32,066,067</td>
<td>+11,564</td>
<td>704,098</td>
<td>+1,514</td>
<td>21,226,611</td>
<td>+9,603</td>
<td>10,135,358</td>
<td>27,190</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<td>
</td>
<td></td>
<td></td>
</tr>

In [ ]:
final = []
for i in range(1,len(body)):
  row = []
  for tr in body[i].find_all('td'):
    row.append(tr.text.replace("\n","").strip())

  final.append(row)
final

[['',
  'Asia',
  '23,847,968',
  '+3,811',
  '383,266',
  '+64',
  '22,362,463',
  '+6,309',
  '1,102,239',
  '22,385',
  '',
  '',
  '',
  '',
  '',
  'Asia',
  '',
  '',
  ''],
 ['',
  'South America',
  '16,731,073',
  '+1,352',
  '436,883',
  '+48',
  '15,066,055',
  '+1,619',
  '1,228,135',
  '19,924',
  '',
  '',
  '',
  '',
  '',
  'South America',
  '',
  '',
  ''],
 ['',
  'Europe',
  '31,877,506',
  '+15,838',
  '756,410',
  '+214',
  '18,550,912',
  '+21,214',
  '12,570,184',
  '27,903',
  '',
  '',
  '',
  '',
  '',
  'Europe',
  '',
  '',
  ''],
 ['',
  'Africa',
  '3,739,257',
  '',
  '97,385',
  '',
  '3,268,948',
  '',
  '372,924',
  '2,540',
  '',
  '',
  '',
  '',
  '',
  'Africa',
  '',
  '',
  ''],
 ['',
  'Oceania',
  '50,525',
  '+12',
  '1,080',
  '',
  '34,185',
  '+16',
  '15,260',
  '6',
  '',
  '',
  '',
  '',
  '',
  'Australia/Oceania',
  '',
  '',
  ''],
 ['',
  '',
  '721',
  '',
  '15',
  '',
  '706',
  '',
  '0',
  '0',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['',
  'World',
  '108,313,117',
  '+32,577',
  '2,379,137',
  '+1,840',
  '80,509,880',
  '+38,761',
  '25,424,100',
  '99,948',
  '13,896',
  '305.2',
  '',
  '',
  '',
  'All',
  '',
  '',
  ''],
 ['1',
  'USA',
  '28,002,240',
  '',
  '486,922',
  '',
  '17,930,819',
  '',
  '9,584,499',
  '20,407',
  '84,294',
  '1,466',
  '330,318,833',
  '994,342',
  '332,198,570',
  'North America',
  '12',
  '682',
  '1'],
 ['2',
  'India',
  '10,880,603',
  '+190',
  '155,484',
  '',
  '10,589,230',
  '+1,879',
  '135,889',
  '8,944',
  '7,837',
  '112',
  '204,789,784',
  '147,506',
  '1,388,345,614',
  'Asia',
  '128',
  '8,929',
  '7'],
 ['3',
  'Brazil',
  '9,716,298',
  '',
  '236,397',
  '',
  '8,643,693',
  '',
  '836,208',
  '8,318',
  '45,512',
  '1,107',
  '28,600,000',
  '133,964',
  '213,489,750',
  'South America',
  '22',
  '903',
  '7'],
 ['4',
  'Russia',
  '4,027,748',
  '',
  '78,687',
  '',
  '3,538,422',
  '',
  '410,639',
  '2,300',
  '27,592',
  '539',
  '105,600,000',
  '723,421',
  '145,973,128',
  'Europe',
  '36',
  '1,855',
  '1'],
 ['5',
  'UK',
  '3,998,655',
  '',
  '115,529',
  '',
  '2,056,261',
  '',
  '1,826,865',
  '3,132',
  '58,712',
  '1,696',
  '80,267,452',
  '1,178,570',
  '68,105,802',
  'Europe',
  '17',
  '590',
  '1'],
 ['6',
  'France',
  '3,406,685',
  '',
  '80,803',
  '',
  '238,753',
  '',
  '3,087,129',
  '3,337',
  '52,120',
  '1,236',
  '47,466,482',
  '726,202',
  '65,362,676',
  'Europe',
  '19',
  '809',
  '1'],
 ['7',
  'Spain',
  '3,041,454',
  '',
  '64,217',
  '',
  'N/A',
  'N/A',
  'N/A',
  '4,432',
  '65,036',
  '1,373',
  '35,782,465',
  '765,139',
  '46,765,968',
  'Europe',
  '15',
  '728',
  '1'],
 ['8',
  'Italy',
  '2,683,403',
  '',
  '92,729',
  '',
  '2,185,655',
  '',
  '405,019',
  '2,126',
  '44,422',
  '1,535',
  '35,384,786',
  '585,775',
  '60,406,838',
  'Europe',
  '23',
  '651',
  '2'],
 ['9',
  'Turkey',
  '2,564,427',
  '',
  '27,187',
  '',
  '2,453,096',
  '',
  '84,144',
  '1,256',
  '30,206',
  '320',
  '31,159,676',
  '367,030',
  '84,896,711',
  'Asia',
  '33',
  '3,123',
  '3'],
 ['10',
  'Germany',
  '2,321,215',
  '',
  '64,513',
  '',
  '2,101,000',
  '+13,400',
  '155,702',
  '3,736',
  '27,650',
  '768',
  '41,758,675',
  '497,428',
  '83,949,242',
  'Europe',
  '36',
  '1,301',
  '2'],
 ['11',
  'Colombia',
  '2,179,641',
  '',
  '56,983',
  '',
  '2,065,209',
  '',
  '57,449',
  '3,482',
  '42,558',
  '1,113',
  '10,716,322',
  '209,237',
  '51,216,160',
  'South America',
  '23',
  '899',
  '5'],
 ['12',
  'Argentina',
  '2,008,345',
  '',
  '49,874',
  '',
  '1,806,260',
  '',
  '152,211',
  '3,541',
  '44,187',
  '1,097',
  '6,690,005',
  '147,192',
  '45,450,837',
  'South America',
  '23',
  '911',
  '7'],
 ['13',
  'Mexico',
  '1,968,566',
  '+10,677',
  '171,234',
  '+1,474',
  '1,528,304',
  '+8,732',
  '269,028',
  '4,798',
  '15,170',
  '1,320',
  '5,016,163',
  '38,656',
  '129,765,240',
  'North America',
  '66',
  '758',
  '26'],
 ['14',
  'Poland',
  '1,570,658',
  '',
  '40,177',
  '',
  '1,324,101',
  '',
  '206,380',
  '1,267',
  '41,529',
  '1,062',
  '9,028,104',
  '238,706',
  '37,820,979',
  'Europe',
  '24',
  '941',
  '4'],
 ['15',
  'Iran',
  '1,496,455',
  '',
  '58,751',
  '',
  '1,278,857',
  '',
  '158,847',
  '3,735',
  '17,678',
  '694',
  '9,885,913',
  '116,782',
  '84,652,766',
  'Asia',
  '57',
  '1,441',
  '9'],
 ['16',
  'South Africa',
  '1,484,900',
  '',
  '47,382',
  '',
  '1,377,980',
  '',
  '59,538',
  '546',
  '24,845',
  '793',
  '8,605,729',
  '143,986',
  '59,767,678',
  'Africa',
  '40',
  '1,261',
  '7'],
 ['17',
  'Ukraine',
  '1,262,867',
  '+4,773',
  '24,174',
  '+116',
  '1,106,155',
  '+7,211',
  '132,538',
  '177',
  '28,984',
  '555',
  '6,447,576',
  '147,979',
  '43,570,894',
  'Europe',
  '35',
  '1,802',
  '7'],
 ['18',
  'Peru',
  '1,212,309',
  '',
  '43,045',
  '',
  '1,124,236',
  '',
  '45,028',
  '2,047',
  '36,457',
  '1,294',
  '6,767,793',
  '203,521',
  '33,253,561',
  'South America',
  '27',
  '773',
  '5'],
 ['19',
  'Indonesia',
  '1,191,990',
  '',
  '32,381',
  '',
  '993,117',
  '',
  '166,492',
  '',
  '4,330',
  '118',
  '9,933,751',
  '36,083',
  '275,301,041',
  'Asia',
  '231',
  '8,502',
  '28'],
 ['20',
  'Czechia',
  '1,073,966',
  '+8,916',
  '17,902',
  '+59',
  '955,938',
  '+464',
  '100,126',
  '1,057',
  '100,172',
  '1,670',
  '6,719,474',
  '626,744',
  '10,721,248',
  'Europe',
  '10',
  '599',
  '2'],
 ['21',
  'Netherlands',
  '1,017,302',
  '',
  '14,662',
  '',
  'N/A',
  'N/A',
  'N/A',
  '537',
  '59,289',
  '855',
  '6,970,400',
  '406,241',
  '17,158,277',
  'Europe',
  '17',
  '1,170',
  '2'],
 ['22',
  'Canada',
  '817,163',
  '',
  '21,088',
  '',
  '758,328',
  '',
  '37,747',
  '672',
  '21,535',
  '556',
  '22,720,596',
  '598,766',
  '37,945,719',
  'North America',
  '46',
  '1,799',
  '2'],
 ['23',
  'Portugal',
  '778,369',
  '',
  '14,885',
  '',
  '645,122',
  '',
  '118,362',
  '836',
  '76,473',
  '1,462',
  '7,731,314',
  '759,587',
  '10,178,307',
  'Europe',
  '13',
  '684',
  '1'],
 ['24',
  'Chile',
  '764,307',
  '',
  '19,262',
  '',
  '723,493',
  '',
  '21,552',
  '1,538',
  '39,772',
  '1,002',
  '8,559,790',
  '445,424',
  '19,217,153',
  'South America',
  '25',
  '998',
  '2'],
 ['25',
  'Romania',
  '755,126',
  '',
  '19,200',
  '',
  '701,283',
  '',
  '34,643',
  '958',
  '39,415',
  '1,002',
  '5,661,319',
  '295,505',
  '19,158,116',
  'Europe',
  '25',
  '998',
  '3'],
 ['26',
  'Belgium',
  '733,100',
  '+2,149',
  '21,551',
  '+39',
  '50,362',
  '+161',
  '661,187',
  '303',
  '63,086',
  '1,855',
  '8,778,942',
  '755,456',
  '11,620,726',
  'Europe',
  '16',
  '539',
  '1'],
 ['27',
  'Israel',
  '714,812',
  '',
  '5,283',
  '',
  '644,932',
  '',
  '64,597',
  '972',
  '77,717',
  '574',
  '11,282,448',
  '1,226,674',
  '9,197,590',
  'Asia',
  '13',
  '1,741',
  '1'],
 ['28',
  'Iraq',
  '636,908',
  '',
  '13,144',
  '',
  '603,814',
  '',
  '19,950',
  '233',
  '15,621',
  '322',
  '6,108,475',
  '149,816',
  '40,773,246',
  'Asia',
  '64',
  '3,102',
  '7'],
 ['29',
  'Sweden',
  '604,577',
  '',
  '12,370',
  '',
  'N/A',
  'N/A',
  'N/A',
  '226',
  '59,634',
  '1,220',
  '5,510,486',
  '543,545',
  '10,138,058',
  'Europe',
  '17',
  '820',
  '2'],
 ['30',
  'Pakistan',
  '560,363',
  '+1,270',
  '12,218',
  '+33',
  '518,164',
  '+1,481',
  '29,981',
  '1,743',
  '2,507',
  '55',
  '8,360,823',
  '37,406',
  '223,514,389',
  'Asia',
  '399',
  '18,294',
  '27'],
 ['31',
  'Philippines',
  '543,282',
  '',
  '11,469',
  '',
  '500,335',
  '',
  '31,478',
  '807',
  '4,918',
  '104',
  '8,210,357',
  '74,318',
  '110,475,954',
  'Asia',
  '203',
  '9,633',
  '13'],
 ['32',
  'Bangladesh',
  '539,531',
  '',
  '8,248',
  '',
  '485,971',
  '',
  '45,312',
  '',
  '3,256',
  '50',
  '3,808,017',
  '22,982',
  '165,698,028',
  'Asia',
  '307',
  '20,089',
  '44'],
 ['33',
  'Switzerland',
  '539,474',
  '',
  '9,729',
  '',
  '317,600',
  '',
  '212,145',
  '237',
  '62,054',
  '1,119',
  '4,641,323',
  '533,879',
  '8,693,588',
  'Europe',
  '16',
  '894',
  '2'],
 ['34',
  'Morocco',
  '477,160',
  '',
  '8,440',
  '',
  '457,325',
  '',
  '11,395',
  '333',
  '12,834',
  '227',
  '5,493,128',
  '147,747',
  '37,179,216',
  'Africa',
  '78',
  '4,405',
  '7'],
 ['35',
  'Austria',
  '429,139',
  '',
  '8,138',
  '',
  '407,155',
  '',
  '13,846',
  '265',
  '47,481',
  '900',
  '4,739,747',
  '524,421',
  '9,038,063',
  'Europe',
  '21',
  '1,111',
  '2'],
 ['36',
  'Serbia',
  '415,943',
  '',
  '4,183',
  '',
  '31,536',
  '',
  '380,224',
  '141',
  '47,724',
  '480',
  '2,742,087',
  '314,619',
  '8,715,576',
  'Europe',
  '21',
  '2,084',
  '3'],
 ['37',
  'Japan',
  '410,012',
  '',
  '6,678',
  '',
  '375,454',
  '',
  '27,880',
  '713',
  '3,248',
  '53',
  '7,447,270',
  '58,994',
  '126,236,803',
  'Asia',
  '308',
  '18,903',
  '17'],
 ['38',
  'Hungary',
  '381,875',
  '',
  '13,444',
  '',
  '287,134',
  '',
  '81,297',
  '299',
  '39,592',
  '1,394',
  '3,318,850',
  '344,094',
  '9,645,171',
  'Europe',
  '25',
  '717',
  '3'],
 ['39',
  'Saudi Arabia',
  '371,720',
  '',
  '6,420',
  '',
  '362,642',
  '',
  '2,658',
  '437',
  '10,576',
  '183',
  '12,847,483',
  '365,545',
  '35,146,084',
  'Asia',
  '95',
  '5,474',
  '3'],
 ['40',
  'Jordan',
  '341,984',
  '',
  '4,421',
  '',
  '324,070',
  '',
  '13,493',
  '144',
  '33,314',
  '431',
  '4,134,849',
  '402,795',
  '10,265,403',
  'Asia',
  '30',
  '2,322',
  '2'],
 ['41',
  'UAE',
  '339,667',
  '',
  '974',
  '',
  '319,787',
  '',
  '18,906',
  '',
  '34,090',
  '98',
  '27,557,474',
  '2,765,767',
  '9,963,773',
  'Asia',
  '29',
  '10,230',
  '0'],
 ['42',
  'Lebanon',
  '331,159',
  '',
  '3,866',
  '',
  '222,078',
  '',
  '105,215',
  '927',
  '48,653',
  '568',
  '2,758,601',
  '405,288',
  '6,806,512',
  'Asia',
  '21',
  '1,761',
  '2'],
 ['43',
  'Panama',
  '330,075',
  '',
  '5,572',
  '',
  '303,610',
  '',
  '20,893',
  '242',
  '75,768',
  '1,279',
  '1,770,793',
  '406,482',
  '4,356,382',
  'North America',
  '13',
  '782',
  '2'],
 ['44',
  'Nepal',
  '272,430',
  '',
  '2,052',
  '',
  '268,660',
  '',
  '1,718',
  '',
  '9,248',
  '70',
  '2,107,649',
  '71,549',
  '29,457,453',
  'Asia',
  '108',
  '14,355',
  '14'],
 ['45',
  'Slovakia',
  '271,473',
  '',
  '5,629',
  '',
  '253,518',
  '',
  '12,326',
  '590',
  '49,709',
  '1,031',
  '1,871,130',
  '342,618',
  '5,461,276',
  'Europe',
  '20',
  '970',
  '3'],
 ['46',
  'Georgia',
  '264,665',
  '+507',
  '3,336',
  '+15',
  '256,684',
  '+660',
  '4,645',
  '',
  '66,425',
  '837',
  '2,406,994',
  '604,100',
  '3,984,430',
  'Asia',
  '15',
  '1,194',
  '2'],
 ['47',
  'Belarus',
  '263,551',
  '',
  '1,820',
  '',
  '252,068',
  '',
  '9,663',
  '',
  '27,897',
  '193',
  '4,624,687',
  '489,519',
  '9,447,402',
  'Europe',
  '36',
  '5,191',
  '2'],
 ['48',
  'Ecuador',
  '262,213',
  '',
  '15,174',
  '',
  '220,398',
  '',
  '26,641',
  '476',
  '14,725',
  '852',
  '927,261',
  '52,072',
  '17,807,250',
  'South America',
  '68',
  '1,174',
  '19'],
 ['49',
  'Malaysia',
  '254,988',
  '',
  '936',
  '',
  '202,269',
  '',
  '51,783',
  '259',
  '7,817',
  '29',
  '5,420,256',
  '166,161',
  '32,620,507',
  'Asia',
  '128',
  '34,851',
  '6'],
 ['50',
  'Croatia',
  '236,709',
  '',
  '5,263',
  '',
  '228,896',
  '',
  '2,550',
  '88',
  '57,881',
  '1,287',
  '1,250,855',
  '305,864',
  '4,089,573',
  'Europe',
  '17',
  '777',
  '3'],
 ['51',
  'Bolivia',
  '233,854',
  '+1,352',
  '11,044',
  '+48',
  '174,329',
  '+1,619',
  '48,481',
  '71',
  '19,867',
  '938',
  '630,026',
  '53,525',
  '11,770,699',
  'South America',
  '50',
  '1,066',
  '19'],
 ['52',
  'Azerbaijan',
  '231,649',
  '',
  '3,170',
  '',
  '226,119',
  '',
  '2,360',
  '',
  '22,721',
  '311',
  '2,478,223',
  '243,073',
  '10,195,388',
  'Asia',
  '44',
  '3,216',
  '4'],
 ['53',
  'Bulgaria',
  '228,044',
  '',
  '9,561',
  '',
  '195,682',
  '',
  '22,801',
  '293',
  '32,973',
  '1,382',
  '1,502,690',
  '217,277',
  '6,915,998',
  'Europe',
  '30',
  '723',
  '5'],
 ['54',
  'Dominican Republic',
  '226,714',
  '',
  '2,904',
  '',
  '172,562',
  '',
  '51,248',
  '273',
  '20,771',
  '266',
  '1,121,386',
  '102,740',
  '10,914,781',
  'North America',
  '48',
  '3,759',
  '10'],
 ['55',
  'Tunisia',
  '220,478',
  '',
  '7,429',
  '',
  '180,830',
  '',
  '32,219',
  '354',
  '18,536',
  '625',
  '913,488',
  '76,798',
  '11,894,620',
  'Africa',
  '54',
  '1,601',
  '13'],
 ['56',
  'Ireland',
  '206,801',
  '',
  '3,846',
  '',
  '23,364',
  '',
  '179,591',
  '167',
  '41,596',
  '774',
  '3,269,078',
  '657,541',
  '4,971,670',
  'Europe',
  '24',
  '1,293',
  '2'],
 ['57',
  'Denmark',
  '203,365',
  '',
  '2,269',
  '',
  '195,124',
  '',
  '5,972',
  '69',
  '35,034',
  '391',
  '14,796,936',
  '2,549,093',
  '5,804,785',
  'Europe',
  '29',
  '2,558',
  '0'],
 ['58',
  'Kazakhstan',
  '200,044',
  '+951',
  '2,540',
  '',
  '181,974',
  '+1,167',
  '15,530',
  '221',
  '10,576',
  '134',
  '6,399,596',
  '338,341',
  '18,914,618',
  'Asia',
  '95',
  '7,447',
  '3'],
 ['59',
  'Costa Rica',
  '198,756',
  '',
  '2,710',
  '',
  '160,462',
  '',
  '35,584',
  '165',
  '38,799',
  '529',
  '617,086',
  '120,460',
  '5,122,727',
  'North America',
  '26',
  '1,890',
  '8'],
 ['60',
  'Lithuania',
  '189,058',
  '',
  '3,013',
  '',
  '171,777',
  '',
  '14,268',
  '128',
  '70,056',
  '1,116',
  '1,997,904',
  '740,333',
  '2,698,656',
  'Europe',
  '14',
  '896',
  '1'],
 ['61',
  'Slovenia',
  '177,140',
  '',
  '3,677',
  '',
  '159,657',
  '',
  '13,806',
  '158',
  '85,200',
  '1,769',
  '846,252',
  '407,025',
  '2,079,115',
  'Europe',
  '12',
  '565',
  '2'],
 ['62',
  'Kuwait',
  '175,031',
  '',
  '985',
  '',
  '163,895',
  '',
  '10,151',
  '114',
  '40,617',
  '229',
  '1,640,047',
  '380,584',
  '4,309,288',
  'Asia',
  '25',
  '4,375',
  '3'],
 ['63',
  'Egypt',
  '171,993',
  '',
  '9,857',
  '',
  '133,707',
  '',
  '28,429',
  '90',
  '1,662',
  '95',
  '1,000,000',
  '9,660',
  '103,514,732',
  'Africa',
  '602',
  '10,502',
  '104'],
 ['64',
  'Greece',
  '168,872',
  '',
  '6,056',
  '',
  '150,417',
  '',
  '12,399',
  '281',
  '16,251',
  '583',
  '4,602,806',
  '442,939',
  '10,391,512',
  'Europe',
  '62',
  '1,716',
  '2'],
 ['65',
  'Armenia',
  '168,830',
  '+154',
  '3,138',
  '+3',
  '160,838',
  '+168',
  '4,854',
  '',
  '56,909',
  '1,058',
  '676,431',
  '228,011',
  '2,966,663',
  'Asia',
  '18',
  '945',
  '4'],
 ['66',
  'Moldova',
  '167,546',
  '',
  '3,607',
  '',
  '155,557',
  '',
  '8,382',
  '280',
  '41,594',
  '895',
  '658,607',
  '163,501',
  '4,028,162',
  'Europe',
  '24',
  '1,117',
  '6'],
 ['67',
  'Palestine',
  '165,535',
  '',
  '1,910',
  '',
  '154,727',
  '',
  '8,898',
  '57',
  '31,995',
  '369',
  '1,066,281',
  '206,095',
  '5,173,740',
  'Asia',
  '31',
  '2,709',
  '5'],
 ['68',
  'Guatemala',
  '165,532',
  '',
  '6,023',
  '',
  '152,210',
  '',
  '7,299',
  '5',
  '9,136',
  '332',
  '839,269',
  '46,322',
  '18,118,278',
  'North America',
  '109',
  '3,008',
  '22'],
 ['69',
  'Honduras',
  '158,355',
  '+887',
  '3,838',
  '+32',
  '62,991',
  '+871',
  '91,526',
  '416',
  '15,834',
  '384',
  '404,607',
  '40,456',
  '10,001,113',
  'North America',
  '63',
  '2,606',
  '25'],
 ['70',
  'Qatar',
  '155,901',
  '',
  '254',
  '',
  '147,727',
  '',
  '7,920',
  '78',
  '55,524',
  '90',
  '1,449,099',
  '516,097',
  '2,807,805',
  'Asia',
  '18',
  '11,054',
  '2'],
 ['71',
  'Ethiopia',
  '144,862',
  '',
  '2,171',
  '',
  '127,622',
  '',
  '15,069',
  '239',
  '1,241',
  '19',
  '2,026,734',
  '17,367',
  '116,698,689',
  'Africa',
  '806',
  '53,753',
  '58'],
 ['72',
  'Nigeria',
  '143,516',
  '',
  '1,710',
  '',
  '118,012',
  '',
  '23,794',
  '10',
  '686',
  '8',
  '1,398,630',
  '6,684',
  '209,252,629',
  'Africa',
  '1,458',
  '122,370',
  '150'],
 ['73',
  'Paraguay',
  '141,775',
  '',
  '2,891',
  '',
  '117,855',
  '',
  '21,029',
  '237',
  '19,728',
  '402',
  '690,273',
  '96,054',
  '7,186,326',
  'South America',
  '51',
  '2,486',
  '10'],
 ['74',
  'Myanmar',
  '141,522',
  '',
  '3,184',
  '',
  '128,981',
  '',
  '9,357',
  '',
  '2,590',
  '58',
  '2,471,972',
  '45,246',
  '54,634,436',
  'Asia',
  '386',
  '17,159',
  '22'],
 ['75',
  'Oman',
  '136,622',
  '',
  '1,539',
  '',
  '128,461',
  '',
  '6,622',
  '45',
  '26,346',
  '297',
  '1,550,000',
  '298,897',
  '5,185,727',
  'Asia',
  '38',
  '3,370',
  '3'],
 ['76',
  'Venezuela',
  '131,828',
  '',
  '1,260',
  '',
  '123,811',
  '',
  '6,757',
  '107',
  '4,644',
  '44',
  '2,764,178',
  '97,378',
  '28,386,074',
  'South America',
  '215',
  '22,529',
  '10'],
 ['77',
  'Libya',
  '126,361',
  '',
  '2,009',
  '',
  '108,434',
  '',
  '15,918',
  '',
  '18,238',
  '290',
  '689,271',
  '99,482',
  '6,928,612',
  'Africa',
  '55',
  '3,449',
  '10'],
 ['78',
  'Bosnia and Herzegovina',
  '125,123',
  '',
  '4,868',
  '',
  '102,339',
  '',
  '17,916',
  '',
  '38,285',
  '1,490',
  '623,347',
  '190,733',
  '3,268,168',
  'Europe',
  '26',
  '671',
  '5'],
 ['79',
  'Bahrain',
  '110,416',
  '',
  '393',
  '',
  '103,251',
  '',
  '6,772',
  '52',
  '63,553',
  '226',
  '2,860,384',
  '1,646,372',
  '1,737,386',
  'Asia',
  '16',
  '4,421',
  '1'],
 ['80',
  'Algeria',
  '110,049',
  '',
  '2,930',
  '',
  '75,436',
  '',
  '31,683',
  '42',
  '2,482',
  '66',
  '',
  '',
  '44,335,512',
  'Africa',
  '403',
  '15,132',
  ''],
 ['81',
  'Kenya',
  '102,353',
  '',
  '1,794',
  '',
  '84,790',
  '',
  '15,769',
  '31',
  '1,878',
  '33',
  '1,228,047',
  '22,535',
  '54,494,209',
  'Africa',
  '532',
  '30,376',
  '44'],
 ['82',
  'North Macedonia',
  '96,152',
  '',
  '2,966',
  '',
  '87,122',
  '',
  '6,064',
  '131',
  '46,153',
  '1,424',
  '479,430',
  '230,128',
  '2,083,321',
  'Europe',
  '22',
  '702',
  '4'],
 ['83',
  'Albania',
  '89,776',
  '',
  '1,517',
  '',
  '54,362',
  '',
  '33,897',
  '37',
  '31,217',
  '527',
  '393,926',
  '136,977',
  '2,875,854',
  'Europe',
  '32',
  '1,896',
  '7'],
 ['84',
  'Kyrgyzstan',
  '85,398',
  '+70',
  '1,439',
  '+2',
  '82,098',
  '+92',
  '1,861',
  '50',
  '12,959',
  '218',
  '693,811',
  '105,281',
  '6,590,113',
  'Asia',
  '77',
  '4,580',
  '9'],
 ['85',
  'S. Korea',
  '82,837',
  '+403',
  '1,507',
  '+11',
  '72,936',
  '+298',
  '8,394',
  '161',
  '1,615',
  '29',
  '6,093,369',
  '118,787',
  '51,296,443',
  'Asia',
  '619',
  '34,039',
  '8'],
 ['86',
  'Uzbekistan',
  '79,340',
  '+37',
  '622',
  '',
  '77,780',
  '+54',
  '938',
  '153',
  '2,350',
  '18',
  '1,377,915',
  '40,807',
  '33,766,609',
  'Asia',
  '426',
  '54,287',
  '25'],
 ['87',
  'Latvia',
  '74,701',
  '',
  '1,416',
  '',
  '62,844',
  '',
  '10,441',
  '97',
  '39,878',
  '756',
  '1,284,044',
  '685,467',
  '1,873,240',
  'Europe',
  '25',
  '1,323',
  '1'],
 ['88',
  'Ghana',
  '73,557',
  '',
  '494',
  '',
  '66,115',
  '',
  '6,948',
  '113',
  '2,337',
  '16',
  '817,990',
  '25,993',
  '31,469,100',
  'Africa',
  '428',
  '63,703',
  '38'],
 ['89',
  'Sri Lanka',
  '73,116',
  '',
  '379',
  '',
  '66,211',
  '',
  '6,526',
  '',
  '3,406',
  '18',
  '1,831,420',
  '85,307',
  '21,468,618',
  'Asia',
  '294',
  '56,645',
  '12'],
 ['90',
  'Montenegro',
  '67,441',
  '',
  '869',
  '',
  '58,210',
  '',
  '8,362',
  '68',
  '107,370',
  '1,384',
  '249,215',
  '396,767',
  '628,115',
  'Europe',
  '9',
  '723',
  '3'],
 ['91',
  'Zambia',
  '66,598',
  '',
  '914',
  '',
  '59,989',
  '',
  '5,695',
  '397',
  '3,562',
  '49',
  '998,667',
  '53,413',
  '18,697,026',
  'Africa',
  '281',
  '20,456',
  '19'],
 ['92',
  'Norway',
  '65,811',
  '',
  '592',
  '',
  '57,004',
  '',
  '8,215',
  '20',
  '12,081',
  '109',
  '3,562,573',
  '654,003',
  '5,447,332',
  'Europe',
  '83',
  '9,202',
  '2'],
 ['93',
  'Singapore',

In [ ]:
del final[0:7]
final

[['1',
  'USA',
  '28,002,240',
  '',
  '486,922',
  '',
  '17,930,819',
  '',
  '9,584,499',
  '20,407',
  '84,294',
  '1,466',
  '330,318,833',
  '994,342',
  '332,198,570',
  'North America',
  '12',
  '682',
  '1'],
 ['2',
  'India',
  '10,880,603',
  '+190',
  '155,484',
  '',
  '10,589,230',
  '+1,879',
  '135,889',
  '8,944',
  '7,837',
  '112',
  '204,789,784',
  '147,506',
  '1,388,345,614',
  'Asia',
  '128',
  '8,929',
  '7'],
 ['3',
  'Brazil',
  '9,716,298',
  '',
  '236,397',
  '',
  '8,643,693',
  '',
  '836,208',
  '8,318',
  '45,512',
  '1,107',
  '28,600,000',
  '133,964',
  '213,489,750',
  'South America',
  '22',
  '903',
  '7'],
 ['4',
  'Russia',
  '4,027,748',
  '',
  '78,687',
  '',
  '3,538,422',
  '',
  '410,639',
  '2,300',
  '27,592',
  '539',
  '105,600,000',
  '723,421',
  '145,973,128',
  'Europe',
  '36',
  '1,855',
  '1'],
 ['5',
  'UK',
  '3,998,655',
  '',
  '115,529',
  '',
  '2,056,261',
  '',
  '1,826,865',
  '3,132',
  '58,712',
  '1,696',
  '80,267,452',
  '1,178,570',
  '68,105,802',
  'Europe',
  '17',
  '590',
  '1'],
 ['6',
  'France',
  '3,406,685',
  '',
  '80,803',
  '',
  '238,753',
  '',
  '3,087,129',
  '3,337',
  '52,120',
  '1,236',
  '47,466,482',
  '726,202',
  '65,362,676',
  'Europe',
  '19',
  '809',
  '1'],
 ['7',
  'Spain',
  '3,041,454',
  '',
  '64,217',
  '',
  'N/A',
  'N/A',
  'N/A',
  '4,432',
  '65,036',
  '1,373',
  '35,782,465',
  '765,139',
  '46,765,968',
  'Europe',
  '15',
  '728',
  '1'],
 ['8',
  'Italy',
  '2,683,403',
  '',
  '92,729',
  '',
  '2,185,655',
  '',
  '405,019',
  '2,126',
  '44,422',
  '1,535',
  '35,384,786',
  '585,775',
  '60,406,838',
  'Europe',
  '23',
  '651',
  '2'],
 ['9',
  'Turkey',
  '2,564,427',
  '',
  '27,187',
  '',
  '2,453,096',
  '',
  '84,144',
  '1,256',
  '30,206',
  '320',
  '31,159,676',
  '367,030',
  '84,896,711',
  'Asia',
  '33',
  '3,123',
  '3'],
 ['10',
  'Germany',
  '2,321,215',
  '',
  '64,513',
  '',
  '2,101,000',
  '+13,400',
  '155,702',
  '3,736',
  '27,650',
  '768',
  '41,758,675',
  '497,428',
  '83,949,242',
  'Europe',
  '36',
  '1,301',
  '2'],
 ['11',
  'Colombia',
  '2,179,641',
  '',
  '56,983',
  '',
  '2,065,209',
  '',
  '57,449',
  '3,482',
  '42,558',
  '1,113',
  '10,716,322',
  '209,237',
  '51,216,160',
  'South America',
  '23',
  '899',
  '5'],
 ['12',
  'Argentina',
  '2,008,345',
  '',
  '49,874',
  '',
  '1,806,260',
  '',
  '152,211',
  '3,541',
  '44,187',
  '1,097',
  '6,690,005',
  '147,192',
  '45,450,837',
  'South America',
  '23',
  '911',
  '7'],
 ['13',
  'Mexico',
  '1,968,566',
  '+10,677',
  '171,234',
  '+1,474',
  '1,528,304',
  '+8,732',
  '269,028',
  '4,798',
  '15,170',
  '1,320',
  '5,016,163',
  '38,656',
  '129,765,240',
  'North America',
  '66',
  '758',
  '26'],
 ['14',
  'Poland',
  '1,570,658',
  '',
  '40,177',
  '',
  '1,324,101',
  '',
  '206,380',
  '1,267',
  '41,529',
  '1,062',
  '9,028,104',
  '238,706',
  '37,820,979',
  'Europe',
  '24',
  '941',
  '4'],
 ['15',
  'Iran',
  '1,496,455',
  '',
  '58,751',
  '',
  '1,278,857',
  '',
  '158,847',
  '3,735',
  '17,678',
  '694',
  '9,885,913',
  '116,782',
  '84,652,766',
  'Asia',
  '57',
  '1,441',
  '9'],
 ['16',
  'South Africa',
  '1,484,900',
  '',
  '47,382',
  '',
  '1,377,980',
  '',
  '59,538',
  '546',
  '24,845',
  '793',
  '8,605,729',
  '143,986',
  '59,767,678',
  'Africa',
  '40',
  '1,261',
  '7'],
 ['17',
  'Ukraine',
  '1,262,867',
  '+4,773',
  '24,174',
  '+116',
  '1,106,155',
  '+7,211',
  '132,538',
  '177',
  '28,984',
  '555',
  '6,447,576',
  '147,979',
  '43,570,894',
  'Europe',
  '35',
  '1,802',
  '7'],
 ['18',
  'Peru',
  '1,212,309',
  '',
  '43,045',
  '',
  '1,124,236',
  '',
  '45,028',
  '2,047',
  '36,457',
  '1,294',
  '6,767,793',
  '203,521',
  '33,253,561',
  'South America',
  '27',
  '773',
  '5'],
 ['19',
  'Indonesia',
  '1,191,990',
  '',
  '32,381',
  '',
  '993,117',
  '',
  '166,492',
  '',
  '4,330',
  '118',
  '9,933,751',
  '36,083',
  '275,301,041',
  'Asia',
  '231',
  '8,502',
  '28'],
 ['20',
  'Czechia',
  '1,073,966',
  '+8,916',
  '17,902',
  '+59',
  '955,938',
  '+464',
  '100,126',
  '1,057',
  '100,172',
  '1,670',
  '6,719,474',
  '626,744',
  '10,721,248',
  'Europe',
  '10',
  '599',
  '2'],
 ['21',
  'Netherlands',
  '1,017,302',
  '',
  '14,662',
  '',
  'N/A',
  'N/A',
  'N/A',
  '537',
  '59,289',
  '855',
  '6,970,400',
  '406,241',
  '17,158,277',
  'Europe',
  '17',
  '1,170',
  '2'],
 ['22',
  'Canada',
  '817,163',
  '',
  '21,088',
  '',
  '758,328',
  '',
  '37,747',
  '672',
  '21,535',
  '556',
  '22,720,596',
  '598,766',
  '37,945,719',
  'North America',
  '46',
  '1,799',
  '2'],
 ['23',
  'Portugal',
  '778,369',
  '',
  '14,885',
  '',
  '645,122',
  '',
  '118,362',
  '836',
  '76,473',
  '1,462',
  '7,731,314',
  '759,587',
  '10,178,307',
  'Europe',
  '13',
  '684',
  '1'],
 ['24',
  'Chile',
  '764,307',
  '',
  '19,262',
  '',
  '723,493',
  '',
  '21,552',
  '1,538',
  '39,772',
  '1,002',
  '8,559,790',
  '445,424',
  '19,217,153',
  'South America',
  '25',
  '998',
  '2'],
 ['25',
  'Romania',
  '755,126',
  '',
  '19,200',
  '',
  '701,283',
  '',
  '34,643',
  '958',
  '39,415',
  '1,002',
  '5,661,319',
  '295,505',
  '19,158,116',
  'Europe',
  '25',
  '998',
  '3'],
 ['26',
  'Belgium',
  '733,100',
  '+2,149',
  '21,551',
  '+39',
  '50,362',
  '+161',
  '661,187',
  '303',
  '63,086',
  '1,855',
  '8,778,942',
  '755,456',
  '11,620,726',
  'Europe',
  '16',
  '539',
  '1'],
 ['27',
  'Israel',
  '714,812',
  '',
  '5,283',
  '',
  '644,932',
  '',
  '64,597',
  '972',
  '77,717',
  '574',
  '11,282,448',
  '1,226,674',
  '9,197,590',
  'Asia',
  '13',
  '1,741',
  '1'],
 ['28',
  'Iraq',
  '636,908',
  '',
  '13,144',
  '',
  '603,814',
  '',
  '19,950',
  '233',
  '15,621',
  '322',
  '6,108,475',
  '149,816',
  '40,773,246',
  'Asia',
  '64',
  '3,102',
  '7'],
 ['29',
  'Sweden',
  '604,577',
  '',
  '12,370',
  '',
  'N/A',
  'N/A',
  'N/A',
  '226',
  '59,634',
  '1,220',
  '5,510,486',
  '543,545',
  '10,138,058',
  'Europe',
  '17',
  '820',
  '2'],
 ['30',
  'Pakistan',
  '560,363',
  '+1,270',
  '12,218',
  '+33',
  '518,164',
  '+1,481',
  '29,981',
  '1,743',
  '2,507',
  '55',
  '8,360,823',
  '37,406',
  '223,514,389',
  'Asia',
  '399',
  '18,294',
  '27'],
 ['31',
  'Philippines',
  '543,282',
  '',
  '11,469',
  '',
  '500,335',
  '',
  '31,478',
  '807',
  '4,918',
  '104',
  '8,210,357',
  '74,318',
  '110,475,954',
  'Asia',
  '203',
  '9,633',
  '13'],
 ['32',
  'Bangladesh',
  '539,531',
  '',
  '8,248',
  '',
  '485,971',
  '',
  '45,312',
  '',
  '3,256',
  '50',
  '3,808,017',
  '22,982',
  '165,698,028',
  'Asia',
  '307',
  '20,089',
  '44'],
 ['33',
  'Switzerland',
  '539,474',
  '',
  '9,729',
  '',
  '317,600',
  '',
  '212,145',
  '237',
  '62,054',
  '1,119',
  '4,641,323',
  '533,879',
  '8,693,588',
  'Europe',
  '16',
  '894',
  '2'],
 ['34',
  'Morocco',
  '477,160',
  '',
  '8,440',
  '',
  '457,325',
  '',
  '11,395',
  '333',
  '12,834',
  '227',
  '5,493,128',
  '147,747',
  '37,179,216',
  'Africa',
  '78',
  '4,405',
  '7'],
 ['35',
  'Austria',
  '429,139',
  '',
  '8,138',
  '',
  '407,155',
  '',
  '13,846',
  '265',
  '47,481',
  '900',
  '4,739,747',
  '524,421',
  '9,038,063',
  'Europe',
  '21',
  '1,111',
  '2'],
 ['36',
  'Serbia',
  '415,943',
  '',
  '4,183',
  '',
  '31,536',
  '',
  '380,224',
  '141',
  '47,724',
  '480',
  '2,742,087',
  '314,619',
  '8,715,576',
  'Europe',
  '21',
  '2,084',
  '3'],
 ['37',
  'Japan',
  '410,012',
  '',
  '6,678',
  '',
  '375,454',
  '',
  '27,880',
  '713',
  '3,248',
  '53',
  '7,447,270',
  '58,994',
  '126,236,803',
  'Asia',
  '308',
  '18,903',
  '17'],
 ['38',
  'Hungary',
  '381,875',
  '',
  '13,444',
  '',
  '287,134',
  '',
  '81,297',
  '299',
  '39,592',
  '1,394',
  '3,318,850',
  '344,094',
  '9,645,171',
  'Europe',
  '25',
  '717',
  '3'],
 ['39',
  'Saudi Arabia',
  '371,720',
  '',
  '6,420',
  '',
  '362,642',
  '',
  '2,658',
  '437',
  '10,576',
  '183',
  '12,847,483',
  '365,545',
  '35,146,084',
  'Asia',
  '95',
  '5,474',
  '3'],
 ['40',
  'Jordan',
  '341,984',
  '',
  '4,421',
  '',
  '324,070',
  '',
  '13,493',
  '144',
  '33,314',
  '431',
  '4,134,849',
  '402,795',
  '10,265,403',
  'Asia',
  '30',
  '2,322',
  '2'],
 ['41',
  'UAE',
  '339,667',
  '',
  '974',
  '',
  '319,787',
  '',
  '18,906',
  '',
  '34,090',
  '98',
  '27,557,474',
  '2,765,767',
  '9,963,773',
  'Asia',
  '29',
  '10,230',
  '0'],
 ['42',
  'Lebanon',
  '331,159',
  '',
  '3,866',
  '',
  '222,078',
  '',
  '105,215',
  '927',
  '48,653',
  '568',
  '2,758,601',
  '405,288',
  '6,806,512',
  'Asia',
  '21',
  '1,761',
  '2'],
 ['43',
  'Panama',
  '330,075',
  '',
  '5,572',
  '',
  '303,610',
  '',
  '20,893',
  '242',
  '75,768',
  '1,279',
  '1,770,793',
  '406,482',
  '4,356,382',
  'North America',
  '13',
  '782',
  '2'],
 ['44',
  'Nepal',
  '272,430',
  '',
  '2,052',
  '',
  '268,660',
  '',
  '1,718',
  '',
  '9,248',
  '70',
  '2,107,649',
  '71,549',
  '29,457,453',
  'Asia',
  '108',
  '14,355',
  '14'],
 ['45',
  'Slovakia',
  '271,473',
  '',
  '5,629',
  '',
  '253,518',
  '',
  '12,326',
  '590',
  '49,709',
  '1,031',
  '1,871,130',
  '342,618',
  '5,461,276',
  'Europe',
  '20',
  '970',
  '3'],
 ['46',
  'Georgia',
  '264,665',
  '+507',
  '3,336',
  '+15',
  '256,684',
  '+660',
  '4,645',
  '',
  '66,425',
  '837',
  '2,406,994',
  '604,100',
  '3,984,430',
  'Asia',
  '15',
  '1,194',
  '2'],
 ['47',
  'Belarus',
  '263,551',
  '',
  '1,820',
  '',
  '252,068',
  '',
  '9,663',
  '',
  '27,897',
  '193',
  '4,624,687',
  '489,519',
  '9,447,402',
  'Europe',
  '36',
  '5,191',
  '2'],
 ['48',
  'Ecuador',
  '262,213',
  '',
  '15,174',
  '',
  '220,398',
  '',
  '26,641',
  '476',
  '14,725',
  '852',
  '927,261',
  '52,072',
  '17,807,250',
  'South America',
  '68',
  '1,174',
  '19'],
 ['49',
  'Malaysia',
  '254,988',
  '',
  '936',
  '',
  '202,269',
  '',
  '51,783',
  '259',
  '7,817',
  '29',
  '5,420,256',
  '166,161',
  '32,620,507',
  'Asia',
  '128',
  '34,851',
  '6'],
 ['50',
  'Croatia',
  '236,709',
  '',
  '5,263',
  '',
  '228,896',
  '',
  '2,550',
  '88',
  '57,881',
  '1,287',
  '1,250,855',
  '305,864',
  '4,089,573',
  'Europe',
  '17',
  '777',
  '3'],
 ['51',
  'Bolivia',
  '233,854',
  '+1,352',
  '11,044',
  '+48',
  '174,329',
  '+1,619',
  '48,481',
  '71',
  '19,867',
  '938',
  '630,026',
  '53,525',
  '11,770,699',
  'South America',
  '50',
  '1,066',
  '19'],
 ['52',
  'Azerbaijan',
  '231,649',
  '',
  '3,170',
  '',
  '226,119',
  '',
  '2,360',
  '',
  '22,721',
  '311',
  '2,478,223',
  '243,073',
  '10,195,388',
  'Asia',
  '44',
  '3,216',
  '4'],
 ['53',
  'Bulgaria',
  '228,044',
  '',
  '9,561',
  '',
  '195,682',
  '',
  '22,801',
  '293',
  '32,973',
  '1,382',
  '1,502,690',
  '217,277',
  '6,915,998',
  'Europe',
  '30',
  '723',
  '5'],
 ['54',
  'Dominican Republic',
  '226,714',
  '',
  '2,904',
  '',
  '172,562',
  '',
  '51,248',
  '273',
  '20,771',
  '266',
  '1,121,386',
  '102,740',
  '10,914,781',
  'North America',
  '48',
  '3,759',
  '10'],
 ['55',
  'Tunisia',
  '220,478',
  '',
  '7,429',
  '',
  '180,830',
  '',
  '32,219',
  '354',
  '18,536',
  '625',
  '913,488',
  '76,798',
  '11,894,620',
  'Africa',
  '54',
  '1,601',
  '13'],
 ['56',
  'Ireland',
  '206,801',
  '',
  '3,846',
  '',
  '23,364',
  '',
  '179,591',
  '167',
  '41,596',
  '774',
  '3,269,078',
  '657,541',
  '4,971,670',
  'Europe',
  '24',
  '1,293',
  '2'],
 ['57',
  'Denmark',
  '203,365',
  '',
  '2,269',
  '',
  '195,124',
  '',
  '5,972',
  '69',
  '35,034',
  '391',
  '14,796,936',
  '2,549,093',
  '5,804,785',
  'Europe',
  '29',
  '2,558',
  '0'],
 ['58',
  'Kazakhstan',
  '200,044',
  '+951',
  '2,540',
  '',
  '181,974',
  '+1,167',
  '15,530',
  '221',
  '10,576',
  '134',
  '6,399,596',
  '338,341',
  '18,914,618',
  'Asia',
  '95',
  '7,447',
  '3'],
 ['59',
  'Costa Rica',
  '198,756',
  '',
  '2,710',
  '',
  '160,462',
  '',
  '35,584',
  '165',
  '38,799',
  '529',
  '617,086',
  '120,460',
  '5,122,727',
  'North America',
  '26',
  '1,890',
  '8'],
 ['60',
  'Lithuania',
  '189,058',
  '',
  '3,013',
  '',
  '171,777',
  '',
  '14,268',
  '128',
  '70,056',
  '1,116',
  '1,997,904',
  '740,333',
  '2,698,656',
  'Europe',
  '14',
  '896',
  '1'],
 ['61',
  'Slovenia',
  '177,140',
  '',
  '3,677',
  '',
  '159,657',
  '',
  '13,806',
  '158',
  '85,200',
  '1,769',
  '846,252',
  '407,025',
  '2,079,115',
  'Europe',
  '12',
  '565',
  '2'],
 ['62',
  'Kuwait',
  '175,031',
  '',
  '985',
  '',
  '163,895',
  '',
  '10,151',
  '114',
  '40,617',
  '229',
  '1,640,047',
  '380,584',
  '4,309,288',
  'Asia',
  '25',
  '4,375',
  '3'],
 ['63',
  'Egypt',
  '171,993',
  '',
  '9,857',
  '',
  '133,707',
  '',
  '28,429',
  '90',
  '1,662',
  '95',
  '1,000,000',
  '9,660',
  '103,514,732',
  'Africa',
  '602',
  '10,502',
  '104'],
 ['64',
  'Greece',
  '168,872',
  '',
  '6,056',
  '',
  '150,417',
  '',
  '12,399',
  '281',
  '16,251',
  '583',
  '4,602,806',
  '442,939',
  '10,391,512',
  'Europe',
  '62',
  '1,716',
  '2'],
 ['65',
  'Armenia',
  '168,830',
  '+154',
  '3,138',
  '+3',
  '160,838',
  '+168',
  '4,854',
  '',
  '56,909',
  '1,058',
  '676,431',
  '228,011',
  '2,966,663',
  'Asia',
  '18',
  '945',
  '4'],
 ['66',
  'Moldova',
  '167,546',
  '',
  '3,607',
  '',
  '155,557',
  '',
  '8,382',
  '280',
  '41,594',
  '895',
  '658,607',
  '163,501',
  '4,028,162',
  'Europe',
  '24',
  '1,117',
  '6'],
 ['67',
  'Palestine',
  '165,535',
  '',
  '1,910',
  '',
  '154,727',
  '',
  '8,898',
  '57',
  '31,995',
  '369',
  '1,066,281',
  '206,095',
  '5,173,740',
  'Asia',
  '31',
  '2,709',
  '5'],
 ['68',
  'Guatemala',
  '165,532',
  '',
  '6,023',
  '',
  '152,210',
  '',
  '7,299',
  '5',
  '9,136',
  '332',
  '839,269',
  '46,322',
  '18,118,278',
  'North America',
  '109',
  '3,008',
  '22'],
 ['69',
  'Honduras',
  '158,355',
  '+887',
  '3,838',
  '+32',
  '62,991',
  '+871',
  '91,526',
  '416',
  '15,834',
  '384',
  '404,607',
  '40,456',
  '10,001,113',
  'North America',
  '63',
  '2,606',
  '25'],
 ['70',
  'Qatar',
  '155,901',
  '',
  '254',
  '',
  '147,727',
  '',
  '7,920',
  '78',
  '55,524',
  '90',
  '1,449,099',
  '516,097',
  '2,807,805',
  'Asia',
  '18',
  '11,054',
  '2'],
 ['71',
  'Ethiopia',
  '144,862',
  '',
  '2,171',
  '',
  '127,622',
  '',
  '15,069',
  '239',
  '1,241',
  '19',
  '2,026,734',
  '17,367',
  '116,698,689',
  'Africa',
  '806',
  '53,753',
  '58'],
 ['72',
  'Nigeria',
  '143,516',
  '',
  '1,710',
  '',
  '118,012',
  '',
  '23,794',
  '10',
  '686',
  '8',
  '1,398,630',
  '6,684',
  '209,252,629',
  'Africa',
  '1,458',
  '122,370',
  '150'],
 ['73',
  'Paraguay',
  '141,775',
  '',
  '2,891',
  '',
  '117,855',
  '',
  '21,029',
  '237',
  '19,728',
  '402',
  '690,273',
  '96,054',
  '7,186,326',
  'South America',
  '51',
  '2,486',
  '10'],
 ['74',
  'Myanmar',
  '141,522',
  '',
  '3,184',
  '',
  '128,981',
  '',
  '9,357',
  '',
  '2,590',
  '58',
  '2,471,972',
  '45,246',
  '54,634,436',
  'Asia',
  '386',
  '17,159',
  '22'],
 ['75',
  'Oman',
  '136,622',
  '',
  '1,539',
  '',
  '128,461',
  '',
  '6,622',
  '45',
  '26,346',
  '297',
  '1,550,000',
  '298,897',
  '5,185,727',
  'Asia',
  '38',
  '3,370',
  '3'],
 ['76',
  'Venezuela',
  '131,828',
  '',
  '1,260',
  '',
  '123,811',
  '',
  '6,757',
  '107',
  '4,644',
  '44',
  '2,764,178',
  '97,378',
  '28,386,074',
  'South America',
  '215',
  '22,529',
  '10'],
 ['77',
  'Libya',
  '126,361',
  '',
  '2,009',
  '',
  '108,434',
  '',
  '15,918',
  '',
  '18,238',
  '290',
  '689,271',
  '99,482',
  '6,928,612',
  'Africa',
  '55',
  '3,449',
  '10'],
 ['78',
  'Bosnia and Herzegovina',
  '125,123',
  '',
  '4,868',
  '',
  '102,339',
  '',
  '17,916',
  '',
  '38,285',
  '1,490',
  '623,347',
  '190,733',
  '3,268,168',
  'Europe',
  '26',
  '671',
  '5'],
 ['79',
  'Bahrain',
  '110,416',
  '',
  '393',
  '',
  '103,251',
  '',
  '6,772',
  '52',
  '63,553',
  '226',
  '2,860,384',
  '1,646,372',
  '1,737,386',
  'Asia',
  '16',
  '4,421',
  '1'],
 ['80',
  'Algeria',
  '110,049',
  '',
  '2,930',
  '',
  '75,436',
  '',
  '31,683',
  '42',
  '2,482',
  '66',
  '',
  '',
  '44,335,512',
  'Africa',
  '403',
  '15,132',
  ''],
 ['81',
  'Kenya',
  '102,353',
  '',
  '1,794',
  '',
  '84,790',
  '',
  '15,769',
  '31',
  '1,878',
  '33',
  '1,228,047',
  '22,535',
  '54,494,209',
  'Africa',
  '532',
  '30,376',
  '44'],
 ['82',
  'North Macedonia',
  '96,152',
  '',
  '2,966',
  '',
  '87,122',
  '',
  '6,064',
  '131',
  '46,153',
  '1,424',
  '479,430',
  '230,128',
  '2,083,321',
  'Europe',
  '22',
  '702',
  '4'],
 ['83',
  'Albania',
  '89,776',
  '',
  '1,517',
  '',
  '54,362',
  '',
  '33,897',
  '37',
  '31,217',
  '527',
  '393,926',
  '136,977',
  '2,875,854',
  'Europe',
  '32',
  '1,896',
  '7'],
 ['84',
  'Kyrgyzstan',
  '85,398',
  '+70',
  '1,439',
  '+2',
  '82,098',
  '+92',
  '1,861',
  '50',
  '12,959',
  '218',
  '693,811',
  '105,281',
  '6,590,113',
  'Asia',
  '77',
  '4,580',
  '9'],
 ['85',
  'S. Korea',
  '82,837',
  '+403',
  '1,507',
  '+11',
  '72,936',
  '+298',
  '8,394',
  '161',
  '1,615',
  '29',
  '6,093,369',
  '118,787',
  '51,296,443',
  'Asia',
  '619',
  '34,039',
  '8'],
 ['86',
  'Uzbekistan',
  '79,340',
  '+37',
  '622',
  '',
  '77,780',
  '+54',
  '938',
  '153',
  '2,350',
  '18',
  '1,377,915',
  '40,807',
  '33,766,609',
  'Asia',
  '426',
  '54,287',
  '25'],
 ['87',
  'Latvia',
  '74,701',
  '',
  '1,416',
  '',
  '62,844',
  '',
  '10,441',
  '97',
  '39,878',
  '756',
  '1,284,044',
  '685,467',
  '1,873,240',
  'Europe',
  '25',
  '1,323',
  '1'],
 ['88',
  'Ghana',
  '73,557',
  '',
  '494',
  '',
  '66,115',
  '',
  '6,948',
  '113',
  '2,337',
  '16',
  '817,990',
  '25,993',
  '31,469,100',
  'Africa',
  '428',
  '63,703',
  '38'],
 ['89',
  'Sri Lanka',
  '73,116',
  '',
  '379',
  '',
  '66,211',
  '',
  '6,526',
  '',
  '3,406',
  '18',
  '1,831,420',
  '85,307',
  '21,468,618',
  'Asia',
  '294',
  '56,645',
  '12'],
 ['90',
  'Montenegro',
  '67,441',
  '',
  '869',
  '',
  '58,210',
  '',
  '8,362',
  '68',
  '107,370',
  '1,384',
  '249,215',
  '396,767',
  '628,115',
  'Europe',
  '9',
  '723',
  '3'],
 ['91',
  'Zambia',
  '66,598',
  '',
  '914',
  '',
  '59,989',
  '',
  '5,695',
  '397',
  '3,562',
  '49',
  '998,667',
  '53,413',
  '18,697,026',
  'Africa',
  '281',
  '20,456',
  '19'],
 ['92',
  'Norway',
  '65,811',
  '',
  '592',
  '',
  '57,004',
  '',
  '8,215',
  '20',
  '12,081',
  '109',
  '3,562,573',
  '654,003',
  '5,447,332',
  'Europe',
  '83',
  '9,202',
  '2'],
 ['93',
  'Singapore',
  '59,759',
  '',
  '29',
  '',
  '59,558',
  '',
  '172',
  '1',
  '10,165',
  '5',
  '6,799,834',
  '1,156,698',
  '5,878,660',
  'Asia',
  '98',
  '202,712',
  '1'],
 ['94',
  'El Salvador',
  '56,653',
  '',
  '1,727',
  '+8',
  '50,999',
  '',
  '3,927',
  '68',
  '8,707',
  '265',
  '717,882',
  '110,335',
  '6,506,379',
  'North America',
  '115',
  '3,767',
  '9'],
 ['95',
  'Afghanistan',
  '55,445',
  '',
  '2,424',
  '',
  '48,279',
  '',
  '4,742',
  '1,009',
  '1,405',
  '61',
  '270,865',
  '6,864',
  '39,463,277',
  'Asia',
  '712',
  '16,280',
  '146'],
 ['96',
  'Luxembourg',
  '52,392',
  '',
  '604',
  '',
  '49,166',
  '',
  '2,622',
  '15',
  '82,870',
  '955',
  '1,981,645',
  '3,134,443',
  '632,216',
  'Europe',
  '12',
  '1,047',
  '0'],
 ['97',
  'Estonia',
  '50,280',
  '',
  '480',
  '',
  '39,928',
  '',
  '9,872',
  '34',
  '37,888',
  '362',
  '827,150',
  '623,283',
  '1,327,086',
  'Europe',
  '26',
  '2,765',
  '2'],
 ['98',
  'Finland',
  '49,165',
  '',
  '708',
  '',
  '40,000',
  '',
  '8,457',
  '16',
  '8,865',
  '128',
  '3,020,784',
  '544,675',
  '5,546,035',
  'Europe',
  '113',
  '7,833',
  '2'],
 ['99',
  'Mozambique',
  '47,790',
  '',
  '501',
  '',

In [ ]:
finals = list(final)
finals

[['1',
  'USA',
  '28,002,240',
  '',
  '486,922',
  '',
  '17,930,819',
  '',
  '9,584,499',
  '20,407',
  '84,294',
  '1,466',
  '330,318,833',
  '994,342',
  '332,198,570',
  'North America',
  '12',
  '682',
  '1'],
 ['2',
  'India',
  '10,880,603',
  '+190',
  '155,484',
  '',
  '10,589,230',
  '+1,879',
  '135,889',
  '8,944',
  '7,837',
  '112',
  '204,789,784',
  '147,506',
  '1,388,345,614',
  'Asia',
  '128',
  '8,929',
  '7'],
 ['3',
  'Brazil',
  '9,716,298',
  '',
  '236,397',
  '',
  '8,643,693',
  '',
  '836,208',
  '8,318',
  '45,512',
  '1,107',
  '28,600,000',
  '133,964',
  '213,489,750',
  'South America',
  '22',
  '903',
  '7'],
 ['4',
  'Russia',
  '4,027,748',
  '',
  '78,687',
  '',
  '3,538,422',
  '',
  '410,639',
  '2,300',
  '27,592',
  '539',
  '105,600,000',
  '723,421',
  '145,973,128',
  'Europe',
  '36',
  '1,855',
  '1'],
 ['5',
  'UK',
  '3,998,655',
  '',
  '115,529',
  '',
  '2,056,261',
  '',
  '1,826,865',
  '3,132',
  '58,712',
  '1,696',
  '80,267,452',
  '1,178,570',
  '68,105,802',
  'Europe',
  '17',
  '590',
  '1'],
 ['6',
  'France',
  '3,406,685',
  '',
  '80,803',
  '',
  '238,753',
  '',
  '3,087,129',
  '3,337',
  '52,120',
  '1,236',
  '47,466,482',
  '726,202',
  '65,362,676',
  'Europe',
  '19',
  '809',
  '1'],
 ['7',
  'Spain',
  '3,041,454',
  '',
  '64,217',
  '',
  'N/A',
  'N/A',
  'N/A',
  '4,432',
  '65,036',
  '1,373',
  '35,782,465',
  '765,139',
  '46,765,968',
  'Europe',
  '15',
  '728',
  '1'],
 ['8',
  'Italy',
  '2,683,403',
  '',
  '92,729',
  '',
  '2,185,655',
  '',
  '405,019',
  '2,126',
  '44,422',
  '1,535',
  '35,384,786',
  '585,775',
  '60,406,838',
  'Europe',
  '23',
  '651',
  '2'],
 ['9',
  'Turkey',
  '2,564,427',
  '',
  '27,187',
  '',
  '2,453,096',
  '',
  '84,144',
  '1,256',
  '30,206',
  '320',
  '31,159,676',
  '367,030',
  '84,896,711',
  'Asia',
  '33',
  '3,123',
  '3'],
 ['10',
  'Germany',
  '2,321,215',
  '',
  '64,513',
  '',
  '2,101,000',
  '+13,400',
  '155,702',
  '3,736',
  '27,650',
  '768',
  '41,758,675',
  '497,428',
  '83,949,242',
  'Europe',
  '36',
  '1,301',
  '2'],
 ['11',
  'Colombia',
  '2,179,641',
  '',
  '56,983',
  '',
  '2,065,209',
  '',
  '57,449',
  '3,482',
  '42,558',
  '1,113',
  '10,716,322',
  '209,237',
  '51,216,160',
  'South America',
  '23',
  '899',
  '5'],
 ['12',
  'Argentina',
  '2,008,345',
  '',
  '49,874',
  '',
  '1,806,260',
  '',
  '152,211',
  '3,541',
  '44,187',
  '1,097',
  '6,690,005',
  '147,192',
  '45,450,837',
  'South America',
  '23',
  '911',
  '7'],
 ['13',
  'Mexico',
  '1,968,566',
  '+10,677',
  '171,234',
  '+1,474',
  '1,528,304',
  '+8,732',
  '269,028',
  '4,798',
  '15,170',
  '1,320',
  '5,016,163',
  '38,656',
  '129,765,240',
  'North America',
  '66',
  '758',
  '26'],
 ['14',
  'Poland',
  '1,570,658',
  '',
  '40,177',
  '',
  '1,324,101',
  '',
  '206,380',
  '1,267',
  '41,529',
  '1,062',
  '9,028,104',
  '238,706',
  '37,820,979',
  'Europe',
  '24',
  '941',
  '4'],
 ['15',
  'Iran',
  '1,496,455',
  '',
  '58,751',
  '',
  '1,278,857',
  '',
  '158,847',
  '3,735',
  '17,678',
  '694',
  '9,885,913',
  '116,782',
  '84,652,766',
  'Asia',
  '57',
  '1,441',
  '9'],
 ['16',
  'South Africa',
  '1,484,900',
  '',
  '47,382',
  '',
  '1,377,980',
  '',
  '59,538',
  '546',
  '24,845',
  '793',
  '8,605,729',
  '143,986',
  '59,767,678',
  'Africa',
  '40',
  '1,261',
  '7'],
 ['17',
  'Ukraine',
  '1,262,867',
  '+4,773',
  '24,174',
  '+116',
  '1,106,155',
  '+7,211',
  '132,538',
  '177',
  '28,984',
  '555',
  '6,447,576',
  '147,979',
  '43,570,894',
  'Europe',
  '35',
  '1,802',
  '7'],
 ['18',
  'Peru',
  '1,212,309',
  '',
  '43,045',
  '',
  '1,124,236',
  '',
  '45,028',
  '2,047',
  '36,457',
  '1,294',
  '6,767,793',
  '203,521',
  '33,253,561',
  'South America',
  '27',
  '773',
  '5'],
 ['19',
  'Indonesia',
  '1,191,990',
  '',
  '32,381',
  '',
  '993,117',
  '',
  '166,492',
  '',
  '4,330',
  '118',
  '9,933,751',
  '36,083',
  '275,301,041',
  'Asia',
  '231',
  '8,502',
  '28'],
 ['20',
  'Czechia',
  '1,073,966',
  '+8,916',
  '17,902',
  '+59',
  '955,938',
  '+464',
  '100,126',
  '1,057',
  '100,172',
  '1,670',
  '6,719,474',
  '626,744',
  '10,721,248',
  'Europe',
  '10',
  '599',
  '2'],
 ['21',
  'Netherlands',
  '1,017,302',
  '',
  '14,662',
  '',
  'N/A',
  'N/A',
  'N/A',
  '537',
  '59,289',
  '855',
  '6,970,400',
  '406,241',
  '17,158,277',
  'Europe',
  '17',
  '1,170',
  '2'],
 ['22',
  'Canada',
  '817,163',
  '',
  '21,088',
  '',
  '758,328',
  '',
  '37,747',
  '672',
  '21,535',
  '556',
  '22,720,596',
  '598,766',
  '37,945,719',
  'North America',
  '46',
  '1,799',
  '2'],
 ['23',
  'Portugal',
  '778,369',
  '',
  '14,885',
  '',
  '645,122',
  '',
  '118,362',
  '836',
  '76,473',
  '1,462',
  '7,731,314',
  '759,587',
  '10,178,307',
  'Europe',
  '13',
  '684',
  '1'],
 ['24',
  'Chile',
  '764,307',
  '',
  '19,262',
  '',
  '723,493',
  '',
  '21,552',
  '1,538',
  '39,772',
  '1,002',
  '8,559,790',
  '445,424',
  '19,217,153',
  'South America',
  '25',
  '998',
  '2'],
 ['25',
  'Romania',
  '755,126',
  '',
  '19,200',
  '',
  '701,283',
  '',
  '34,643',
  '958',
  '39,415',
  '1,002',
  '5,661,319',
  '295,505',
  '19,158,116',
  'Europe',
  '25',
  '998',
  '3'],
 ['26',
  'Belgium',
  '733,100',
  '+2,149',
  '21,551',
  '+39',
  '50,362',
  '+161',
  '661,187',
  '303',
  '63,086',
  '1,855',
  '8,778,942',
  '755,456',
  '11,620,726',
  'Europe',
  '16',
  '539',
  '1'],
 ['27',
  'Israel',
  '714,812',
  '',
  '5,283',
  '',
  '644,932',
  '',
  '64,597',
  '972',
  '77,717',
  '574',
  '11,282,448',
  '1,226,674',
  '9,197,590',
  'Asia',
  '13',
  '1,741',
  '1'],
 ['28',
  'Iraq',
  '636,908',
  '',
  '13,144',
  '',
  '603,814',
  '',
  '19,950',
  '233',
  '15,621',
  '322',
  '6,108,475',
  '149,816',
  '40,773,246',
  'Asia',
  '64',
  '3,102',
  '7'],
 ['29',
  'Sweden',
  '604,577',
  '',
  '12,370',
  '',
  'N/A',
  'N/A',
  'N/A',
  '226',
  '59,634',
  '1,220',
  '5,510,486',
  '543,545',
  '10,138,058',
  'Europe',
  '17',
  '820',
  '2'],
 ['30',
  'Pakistan',
  '560,363',
  '+1,270',
  '12,218',
  '+33',
  '518,164',
  '+1,481',
  '29,981',
  '1,743',
  '2,507',
  '55',
  '8,360,823',
  '37,406',
  '223,514,389',
  'Asia',
  '399',
  '18,294',
  '27'],
 ['31',
  'Philippines',
  '543,282',
  '',
  '11,469',
  '',
  '500,335',
  '',
  '31,478',
  '807',
  '4,918',
  '104',
  '8,210,357',
  '74,318',
  '110,475,954',
  'Asia',
  '203',
  '9,633',
  '13'],
 ['32',
  'Bangladesh',
  '539,531',
  '',
  '8,248',
  '',
  '485,971',
  '',
  '45,312',
  '',
  '3,256',
  '50',
  '3,808,017',
  '22,982',
  '165,698,028',
  'Asia',
  '307',
  '20,089',
  '44'],
 ['33',
  'Switzerland',
  '539,474',
  '',
  '9,729',
  '',
  '317,600',
  '',
  '212,145',
  '237',
  '62,054',
  '1,119',
  '4,641,323',
  '533,879',
  '8,693,588',
  'Europe',
  '16',
  '894',
  '2'],
 ['34',
  'Morocco',
  '477,160',
  '',
  '8,440',
  '',
  '457,325',
  '',
  '11,395',
  '333',
  '12,834',
  '227',
  '5,493,128',
  '147,747',
  '37,179,216',
  'Africa',
  '78',
  '4,405',
  '7'],
 ['35',
  'Austria',
  '429,139',
  '',
  '8,138',
  '',
  '407,155',
  '',
  '13,846',
  '265',
  '47,481',
  '900',
  '4,739,747',
  '524,421',
  '9,038,063',
  'Europe',
  '21',
  '1,111',
  '2'],
 ['36',
  'Serbia',
  '415,943',
  '',
  '4,183',
  '',
  '31,536',
  '',
  '380,224',
  '141',
  '47,724',
  '480',
  '2,742,087',
  '314,619',
  '8,715,576',
  'Europe',
  '21',
  '2,084',
  '3'],
 ['37',
  'Japan',
  '410,012',
  '',
  '6,678',
  '',
  '375,454',
  '',
  '27,880',
  '713',
  '3,248',
  '53',
  '7,447,270',
  '58,994',
  '126,236,803',
  'Asia',
  '308',
  '18,903',
  '17'],
 ['38',
  'Hungary',
  '381,875',
  '',
  '13,444',
  '',
  '287,134',
  '',
  '81,297',
  '299',
  '39,592',
  '1,394',
  '3,318,850',
  '344,094',
  '9,645,171',
  'Europe',
  '25',
  '717',
  '3'],
 ['39',
  'Saudi Arabia',
  '371,720',
  '',
  '6,420',
  '',
  '362,642',
  '',
  '2,658',
  '437',
  '10,576',
  '183',
  '12,847,483',
  '365,545',
  '35,146,084',
  'Asia',
  '95',
  '5,474',
  '3'],
 ['40',
  'Jordan',
  '341,984',
  '',
  '4,421',
  '',
  '324,070',
  '',
  '13,493',
  '144',
  '33,314',
  '431',
  '4,134,849',
  '402,795',
  '10,265,403',
  'Asia',
  '30',
  '2,322',
  '2'],
 ['41',
  'UAE',
  '339,667',
  '',
  '974',
  '',
  '319,787',
  '',
  '18,906',
  '',
  '34,090',
  '98',
  '27,557,474',
  '2,765,767',
  '9,963,773',
  'Asia',
  '29',
  '10,230',
  '0'],
 ['42',
  'Lebanon',
  '331,159',
  '',
  '3,866',
  '',
  '222,078',
  '',
  '105,215',
  '927',
  '48,653',
  '568',
  '2,758,601',
  '405,288',
  '6,806,512',
  'Asia',
  '21',
  '1,761',
  '2'],
 ['43',
  'Panama',
  '330,075',
  '',
  '5,572',
  '',
  '303,610',
  '',
  '20,893',
  '242',
  '75,768',
  '1,279',
  '1,770,793',
  '406,482',
  '4,356,382',
  'North America',
  '13',
  '782',
  '2'],
 ['44',
  'Nepal',
  '272,430',
  '',
  '2,052',
  '',
  '268,660',
  '',
  '1,718',
  '',
  '9,248',
  '70',
  '2,107,649',
  '71,549',
  '29,457,453',
  'Asia',
  '108',
  '14,355',
  '14'],
 ['45',
  'Slovakia',
  '271,473',
  '',
  '5,629',
  '',
  '253,518',
  '',
  '12,326',
  '590',
  '49,709',
  '1,031',
  '1,871,130',
  '342,618',
  '5,461,276',
  'Europe',
  '20',
  '970',
  '3'],
 ['46',
  'Georgia',
  '264,665',
  '+507',
  '3,336',
  '+15',
  '256,684',
  '+660',
  '4,645',
  '',
  '66,425',
  '837',
  '2,406,994',
  '604,100',
  '3,984,430',
  'Asia',
  '15',
  '1,194',
  '2'],
 ['47',
  'Belarus',
  '263,551',
  '',
  '1,820',
  '',
  '252,068',
  '',
  '9,663',
  '',
  '27,897',
  '193',
  '4,624,687',
  '489,519',
  '9,447,402',
  'Europe',
  '36',
  '5,191',
  '2'],
 ['48',
  'Ecuador',
  '262,213',
  '',
  '15,174',
  '',
  '220,398',
  '',
  '26,641',
  '476',
  '14,725',
  '852',
  '927,261',
  '52,072',
  '17,807,250',
  'South America',
  '68',
  '1,174',
  '19'],
 ['49',
  'Malaysia',
  '254,988',
  '',
  '936',
  '',
  '202,269',
  '',
  '51,783',
  '259',
  '7,817',
  '29',
  '5,420,256',
  '166,161',
  '32,620,507',
  'Asia',
  '128',
  '34,851',
  '6'],
 ['50',
  'Croatia',
  '236,709',
  '',
  '5,263',
  '',
  '228,896',
  '',
  '2,550',
  '88',
  '57,881',
  '1,287',
  '1,250,855',
  '305,864',
  '4,089,573',
  'Europe',
  '17',
  '777',
  '3'],
 ['51',
  'Bolivia',
  '233,854',
  '+1,352',
  '11,044',
  '+48',
  '174,329',
  '+1,619',
  '48,481',
  '71',
  '19,867',
  '938',
  '630,026',
  '53,525',
  '11,770,699',
  'South America',
  '50',
  '1,066',
  '19'],
 ['52',
  'Azerbaijan',
  '231,649',
  '',
  '3,170',
  '',
  '226,119',
  '',
  '2,360',
  '',
  '22,721',
  '311',
  '2,478,223',
  '243,073',
  '10,195,388',
  'Asia',
  '44',
  '3,216',
  '4'],
 ['53',
  'Bulgaria',
  '228,044',
  '',
  '9,561',
  '',
  '195,682',
  '',
  '22,801',
  '293',
  '32,973',
  '1,382',
  '1,502,690',
  '217,277',
  '6,915,998',
  'Europe',
  '30',
  '723',
  '5'],
 ['54',
  'Dominican Republic',
  '226,714',
  '',
  '2,904',
  '',
  '172,562',
  '',
  '51,248',
  '273',
  '20,771',
  '266',
  '1,121,386',
  '102,740',
  '10,914,781',
  'North America',
  '48',
  '3,759',
  '10'],
 ['55',
  'Tunisia',
  '220,478',
  '',
  '7,429',
  '',
  '180,830',
  '',
  '32,219',
  '354',
  '18,536',
  '625',
  '913,488',
  '76,798',
  '11,894,620',
  'Africa',
  '54',
  '1,601',
  '13'],
 ['56',
  'Ireland',
  '206,801',
  '',
  '3,846',
  '',
  '23,364',
  '',
  '179,591',
  '167',
  '41,596',
  '774',
  '3,269,078',
  '657,541',
  '4,971,670',
  'Europe',
  '24',
  '1,293',
  '2'],
 ['57',
  'Denmark',
  '203,365',
  '',
  '2,269',
  '',
  '195,124',
  '',
  '5,972',
  '69',
  '35,034',
  '391',
  '14,796,936',
  '2,549,093',
  '5,804,785',
  'Europe',
  '29',
  '2,558',
  '0'],
 ['58',
  'Kazakhstan',
  '200,044',
  '+951',
  '2,540',
  '',
  '181,974',
  '+1,167',
  '15,530',
  '221',
  '10,576',
  '134',
  '6,399,596',
  '338,341',
  '18,914,618',
  'Asia',
  '95',
  '7,447',
  '3'],
 ['59',
  'Costa Rica',
  '198,756',
  '',
  '2,710',
  '',
  '160,462',
  '',
  '35,584',
  '165',
  '38,799',
  '529',
  '617,086',
  '120,460',
  '5,122,727',
  'North America',
  '26',
  '1,890',
  '8'],
 ['60',
  'Lithuania',
  '189,058',
  '',
  '3,013',
  '',
  '171,777',
  '',
  '14,268',
  '128',
  '70,056',
  '1,116',
  '1,997,904',
  '740,333',
  '2,698,656',
  'Europe',
  '14',
  '896',
  '1'],
 ['61',
  'Slovenia',
  '177,140',
  '',
  '3,677',
  '',
  '159,657',
  '',
  '13,806',
  '158',
  '85,200',
  '1,769',
  '846,252',
  '407,025',
  '2,079,115',
  'Europe',
  '12',
  '565',
  '2'],
 ['62',
  'Kuwait',
  '175,031',
  '',
  '985',
  '',
  '163,895',
  '',
  '10,151',
  '114',
  '40,617',
  '229',
  '1,640,047',
  '380,584',
  '4,309,288',
  'Asia',
  '25',
  '4,375',
  '3'],
 ['63',
  'Egypt',
  '171,993',
  '',
  '9,857',
  '',
  '133,707',
  '',
  '28,429',
  '90',
  '1,662',
  '95',
  '1,000,000',
  '9,660',
  '103,514,732',
  'Africa',
  '602',
  '10,502',
  '104'],
 ['64',
  'Greece',
  '168,872',
  '',
  '6,056',
  '',
  '150,417',
  '',
  '12,399',
  '281',
  '16,251',
  '583',
  '4,602,806',
  '442,939',
  '10,391,512',
  'Europe',
  '62',
  '1,716',
  '2'],
 ['65',
  'Armenia',
  '168,830',
  '+154',
  '3,138',
  '+3',
  '160,838',
  '+168',
  '4,854',
  '',
  '56,909',
  '1,058',
  '676,431',
  '228,011',
  '2,966,663',
  'Asia',
  '18',
  '945',
  '4'],
 ['66',
  'Moldova',
  '167,546',
  '',
  '3,607',
  '',
  '155,557',
  '',
  '8,382',
  '280',
  '41,594',
  '895',
  '658,607',
  '163,501',
  '4,028,162',
  'Europe',
  '24',
  '1,117',
  '6'],
 ['67',
  'Palestine',
  '165,535',
  '',
  '1,910',
  '',
  '154,727',
  '',
  '8,898',
  '57',
  '31,995',
  '369',
  '1,066,281',
  '206,095',
  '5,173,740',
  'Asia',
  '31',
  '2,709',
  '5'],
 ['68',
  'Guatemala',
  '165,532',
  '',
  '6,023',
  '',
  '152,210',
  '',
  '7,299',
  '5',
  '9,136',
  '332',
  '839,269',
  '46,322',
  '18,118,278',
  'North America',
  '109',
  '3,008',
  '22'],
 ['69',
  'Honduras',
  '158,355',
  '+887',
  '3,838',
  '+32',
  '62,991',
  '+871',
  '91,526',
  '416',
  '15,834',
  '384',
  '404,607',
  '40,456',
  '10,001,113',
  'North America',
  '63',
  '2,606',
  '25'],
 ['70',
  'Qatar',
  '155,901',
  '',
  '254',
  '',
  '147,727',
  '',
  '7,920',
  '78',
  '55,524',
  '90',
  '1,449,099',
  '516,097',
  '2,807,805',
  'Asia',
  '18',
  '11,054',
  '2'],
 ['71',
  'Ethiopia',
  '144,862',
  '',
  '2,171',
  '',
  '127,622',
  '',
  '15,069',
  '239',
  '1,241',
  '19',
  '2,026,734',
  '17,367',
  '116,698,689',
  'Africa',
  '806',
  '53,753',
  '58'],
 ['72',
  'Nigeria',
  '143,516',
  '',
  '1,710',
  '',
  '118,012',
  '',
  '23,794',
  '10',
  '686',
  '8',
  '1,398,630',
  '6,684',
  '209,252,629',
  'Africa',
  '1,458',
  '122,370',
  '150'],
 ['73',
  'Paraguay',
  '141,775',
  '',
  '2,891',
  '',
  '117,855',
  '',
  '21,029',
  '237',
  '19,728',
  '402',
  '690,273',
  '96,054',
  '7,186,326',
  'South America',
  '51',
  '2,486',
  '10'],
 ['74',
  'Myanmar',
  '141,522',
  '',
  '3,184',
  '',
  '128,981',
  '',
  '9,357',
  '',
  '2,590',
  '58',
  '2,471,972',
  '45,246',
  '54,634,436',
  'Asia',
  '386',
  '17,159',
  '22'],
 ['75',
  'Oman',
  '136,622',
  '',
  '1,539',
  '',
  '128,461',
  '',
  '6,622',
  '45',
  '26,346',
  '297',
  '1,550,000',
  '298,897',
  '5,185,727',
  'Asia',
  '38',
  '3,370',
  '3'],
 ['76',
  'Venezuela',
  '131,828',
  '',
  '1,260',
  '',
  '123,811',
  '',
  '6,757',
  '107',
  '4,644',
  '44',
  '2,764,178',
  '97,378',
  '28,386,074',
  'South America',
  '215',
  '22,529',
  '10'],
 ['77',
  'Libya',
  '126,361',
  '',
  '2,009',
  '',
  '108,434',
  '',
  '15,918',
  '',
  '18,238',
  '290',
  '689,271',
  '99,482',
  '6,928,612',
  'Africa',
  '55',
  '3,449',
  '10'],
 ['78',
  'Bosnia and Herzegovina',
  '125,123',
  '',
  '4,868',
  '',
  '102,339',
  '',
  '17,916',
  '',
  '38,285',
  '1,490',
  '623,347',
  '190,733',
  '3,268,168',
  'Europe',
  '26',
  '671',
  '5'],
 ['79',
  'Bahrain',
  '110,416',
  '',
  '393',
  '',
  '103,251',
  '',
  '6,772',
  '52',
  '63,553',
  '226',
  '2,860,384',
  '1,646,372',
  '1,737,386',
  'Asia',
  '16',
  '4,421',
  '1'],
 ['80',
  'Algeria',
  '110,049',
  '',
  '2,930',
  '',
  '75,436',
  '',
  '31,683',
  '42',
  '2,482',
  '66',
  '',
  '',
  '44,335,512',
  'Africa',
  '403',
  '15,132',
  ''],
 ['81',
  'Kenya',
  '102,353',
  '',
  '1,794',
  '',
  '84,790',
  '',
  '15,769',
  '31',
  '1,878',
  '33',
  '1,228,047',
  '22,535',
  '54,494,209',
  'Africa',
  '532',
  '30,376',
  '44'],
 ['82',
  'North Macedonia',
  '96,152',
  '',
  '2,966',
  '',
  '87,122',
  '',
  '6,064',
  '131',
  '46,153',
  '1,424',
  '479,430',
  '230,128',
  '2,083,321',
  'Europe',
  '22',
  '702',
  '4'],
 ['83',
  'Albania',
  '89,776',
  '',
  '1,517',
  '',
  '54,362',
  '',
  '33,897',
  '37',
  '31,217',
  '527',
  '393,926',
  '136,977',
  '2,875,854',
  'Europe',
  '32',
  '1,896',
  '7'],
 ['84',
  'Kyrgyzstan',
  '85,398',
  '+70',
  '1,439',
  '+2',
  '82,098',
  '+92',
  '1,861',
  '50',
  '12,959',
  '218',
  '693,811',
  '105,281',
  '6,590,113',
  'Asia',
  '77',
  '4,580',
  '9'],
 ['85',
  'S. Korea',
  '82,837',
  '+403',
  '1,507',
  '+11',
  '72,936',
  '+298',
  '8,394',
  '161',
  '1,615',
  '29',
  '6,093,369',
  '118,787',
  '51,296,443',
  'Asia',
  '619',
  '34,039',
  '8'],
 ['86',
  'Uzbekistan',
  '79,340',
  '+37',
  '622',
  '',
  '77,780',
  '+54',
  '938',
  '153',
  '2,350',
  '18',
  '1,377,915',
  '40,807',
  '33,766,609',
  'Asia',
  '426',
  '54,287',
  '25'],
 ['87',
  'Latvia',
  '74,701',
  '',
  '1,416',
  '',
  '62,844',
  '',
  '10,441',
  '97',
  '39,878',
  '756',
  '1,284,044',
  '685,467',
  '1,873,240',
  'Europe',
  '25',
  '1,323',
  '1'],
 ['88',
  'Ghana',
  '73,557',
  '',
  '494',
  '',
  '66,115',
  '',
  '6,948',
  '113',
  '2,337',
  '16',
  '817,990',
  '25,993',
  '31,469,100',
  'Africa',
  '428',
  '63,703',
  '38'],
 ['89',
  'Sri Lanka',
  '73,116',
  '',
  '379',
  '',
  '66,211',
  '',
  '6,526',
  '',
  '3,406',
  '18',
  '1,831,420',
  '85,307',
  '21,468,618',
  'Asia',
  '294',
  '56,645',
  '12'],
 ['90',
  'Montenegro',
  '67,441',
  '',
  '869',
  '',
  '58,210',
  '',
  '8,362',
  '68',
  '107,370',
  '1,384',
  '249,215',
  '396,767',
  '628,115',
  'Europe',
  '9',
  '723',
  '3'],
 ['91',
  'Zambia',
  '66,598',
  '',
  '914',
  '',
  '59,989',
  '',
  '5,695',
  '397',
  '3,562',
  '49',
  '998,667',
  '53,413',
  '18,697,026',
  'Africa',
  '281',
  '20,456',
  '19'],
 ['92',
  'Norway',
  '65,811',
  '',
  '592',
  '',
  '57,004',
  '',
  '8,215',
  '20',
  '12,081',
  '109',
  '3,562,573',
  '654,003',
  '5,447,332',
  'Europe',
  '83',
  '9,202',
  '2'],
 ['93',
  'Singapore',
  '59,759',
  '',
  '29',
  '',
  '59,558',
  '',
  '172',
  '1',
  '10,165',
  '5',
  '6,799,834',
  '1,156,698',
  '5,878,660',
  'Asia',
  '98',
  '202,712',
  '1'],
 ['94',
  'El Salvador',
  '56,653',
  '',
  '1,727',
  '+8',
  '50,999',
  '',
  '3,927',
  '68',
  '8,707',
  '265',
  '717,882',
  '110,335',
  '6,506,379',
  'North America',
  '115',
  '3,767',
  '9'],
 ['95',
  'Afghanistan',
  '55,445',
  '',
  '2,424',
  '',
  '48,279',
  '',
  '4,742',
  '1,009',
  '1,405',
  '61',
  '270,865',
  '6,864',
  '39,463,277',
  'Asia',
  '712',
  '16,280',
  '146'],
 ['96',
  'Luxembourg',
  '52,392',
  '',
  '604',
  '',
  '49,166',
  '',
  '2,622',
  '15',
  '82,870',
  '955',
  '1,981,645',
  '3,134,443',
  '632,216',
  'Europe',
  '12',
  '1,047',
  '0'],
 ['97',
  'Estonia',
  '50,280',
  '',
  '480',
  '',
  '39,928',
  '',
  '9,872',
  '34',
  '37,888',
  '362',
  '827,150',
  '623,283',
  '1,327,086',
  'Europe',
  '26',
  '2,765',
  '2'],
 ['98',
  'Finland',
  '49,165',
  '',
  '708',
  '',
  '40,000',
  '',
  '8,457',
  '16',
  '8,865',
  '128',
  '3,020,784',
  '544,675',
  '5,546,035',
  'Europe',
  '113',
  '7,833',
  '2'],
 ['99',
  'Mozambique',
  '47,790',
  '',
  '501',
  '',

In [ ]:
print(finals)

[['1', 'USA', '28,002,240', '', '486,922', '', '17,930,819', '', '9,584,499', '20,407', '84,294', '1,466', '330,318,833', '994,342', '332,198,570', 'North America', '12', '682', '1'], ['2', 'India', '10,880,603', '+190', '155,484', '', '10,589,230', '+1,879', '135,889', '8,944', '7,837', '112', '204,789,784', '147,506', '1,388,345,614', 'Asia', '128', '8,929', '7'], ['3', 'Brazil', '9,716,298', '', '236,397', '', '8,643,693', '', '836,208', '8,318', '45,512', '1,107', '28,600,000', '133,964', '213,489,750', 'South America', '22', '903', '7'], ['4', 'Russia', '4,027,748', '', '78,687', '', '3,538,422', '', '410,639', '2,300', '27,592', '539', '105,600,000', '723,421', '145,973,128', 'Europe', '36', '1,855', '1'], ['5', 'UK', '3,998,655', '', '115,529', '', '2,056,261', '', '1,826,865', '3,132', '58,712', '1,696', '80,267,452', '1,178,570', '68,105,802', 'Europe', '17', '590', '1'], ['6', 'France', '3,406,685', '', '80,803', '', '238,753', '', '3,087,129', '3,337', '52,120', '1,236', '47,466,482', '726,202', '65,362,676', 'Europe', '19', '809', '1'], ['7', 'Spain', '3,041,454', '', '64,217', '', 'N/A', 'N/A', 'N/A', '4,432', '65,036', '1,373', '35,782,465', '765,139', '46,765,968', 'Europe', '15', '728', '1'], ['8', 'Italy', '2,683,403', '', '92,729', '', '2,185,655', '', '405,019', '2,126', '44,422', '1,535', '35,384,786', '585,775', '60,406,838', 'Europe', '23', '651', '2'], ['9', 'Turkey', '2,564,427', '', '27,187', '', '2,453,096', '', '84,144', '1,256', '30,206', '320', '31,159,676', '367,030', '84,896,711', 'Asia', '33', '3,123', '3'], ['10', 'Germany', '2,321,215', '', '64,513', '', '2,101,000', '+13,400', '155,702', '3,736', '27,650', '768', '41,758,675', '497,428', '83,949,242', 'Europe', '36', '1,301', '2'], ['11', 'Colombia', '2,179,641', '', '56,983', '', '2,065,209', '', '57,449', '3,482', '42,558', '1,113', '10,716,322', '209,237', '51,216,160', 'South America', '23', '899', '5'], ['12', 'Argentina', '2,008,345', '', '49,874', '', '1,806,260', '', '152,211', '3,541', '44,187', '1,097', '6,690,005', '147,192', '45,450,837', 'South America', '23', '911', '7'], ['13', 'Mexico', '1,968,566', '+10,677', '171,234', '+1,474', '1,528,304', '+8,732', '269,028', '4,798', '15,170', '1,320', '5,016,163', '38,656', '129,765,240', 'North America', '66', '758', '26'], ['14', 'Poland', '1,570,658', '', '40,177', '', '1,324,101', '', '206,380', '1,267', '41,529', '1,062', '9,028,104', '238,706', '37,820,979', 'Europe', '24', '941', '4'], ['15', 'Iran', '1,496,455', '', '58,751', '', '1,278,857', '', '158,847', '3,735', '17,678', '694', '9,885,913', '116,782', '84,652,766', 'Asia', '57', '1,441', '9'], ['16', 'South Africa', '1,484,900', '', '47,382', '', '1,377,980', '', '59,538', '546', '24,845', '793', '8,605,729', '143,986', '59,767,678', 'Africa', '40', '1,261', '7'], ['17', 'Ukraine', '1,262,867', '+4,773', '24,174', '+116', '1,106,155', '+7,211', '132,538', '177', '28,984', '555', '6,447,576', '147,979', '43,570,894', 'Europe', '35', '1,802', '7'], ['18', 'Peru', '1,212,309', '', '43,045', '', '1,124,236', '', '45,028', '2,047', '36,457', '1,294', '6,767,793', '203,521', '33,253,561', 'South America', '27', '773', '5'], ['19', 'Indonesia', '1,191,990', '', '32,381', '', '993,117', '', '166,492', '', '4,330', '118', '9,933,751', '36,083', '275,301,041', 'Asia', '231', '8,502', '28'], ['20', 'Czechia', '1,073,966', '+8,916', '17,902', '+59', '955,938', '+464', '100,126', '1,057', '100,172', '1,670', '6,719,474', '626,744', '10,721,248', 'Europe', '10', '599', '2'], ['21', 'Netherlands', '1,017,302', '', '14,662', '', 'N/A', 'N/A', 'N/A', '537', '59,289', '855', '6,970,400', '406,241', '17,158,277', 'Europe', '17', '1,170', '2'], ['22', 'Canada', '817,163', '', '21,088', '', '758,328', '', '37,747', '672', '21,535', '556', '22,720,596', '598,766', '37,945,719', 'North America', '46', '1,799', '2'], ['23', 'Portugal', '778,369', '', '14,885', '', '645,122', '', '118,362', '836', '76,473', '1,462', '7,731,314', '759,587', '10,178,307', 'Europe', '13', '684', '1'], ['24', 'Chile', '764,307', '', '19,262', '', '723,493', '', '21,552', '1,538', '39,772', '1,002', '8,559,790', '445,424', '19,217,153', 'South America', '25', '998', '2'], ['25', 'Romania', '755,126', '', '19,200', '', '701,283', '', '34,643', '958', '39,415', '1,002', '5,661,319', '295,505', '19,158,116', 'Europe', '25', '998', '3'], ['26', 'Belgium', '733,100', '+2,149', '21,551', '+39', '50,362', '+161', '661,187', '303', '63,086', '1,855', '8,778,942', '755,456', '11,620,726', 'Europe', '16', '539', '1'], ['27', 'Israel', '714,812', '', '5,283', '', '644,932', '', '64,597', '972', '77,717', '574', '11,282,448', '1,226,674', '9,197,590', 'Asia', '13', '1,741', '1'], ['28', 'Iraq', '636,908', '', '13,144', '', '603,814', '', '19,950', '233', '15,621', '322', '6,108,475', '149,816', '40,773,246', 'Asia', '64', '3,102', '7'], ['29', 'Sweden', '604,577', '', '12,370', '', 'N/A', 'N/A', 'N/A', '226', '59,634', '1,220', '5,510,486', '543,545', '10,138,058', 'Europe', '17', '820', '2'], ['30', 'Pakistan', '560,363', '+1,270', '12,218', '+33', '518,164', '+1,481', '29,981', '1,743', '2,507', '55', '8,360,823', '37,406', '223,514,389', 'Asia', '399', '18,294', '27'], ['31', 'Philippines', '543,282', '', '11,469', '', '500,335', '', '31,478', '807', '4,918', '104', '8,210,357', '74,318', '110,475,954', 'Asia', '203', '9,633', '13'], ['32', 'Bangladesh', '539,531', '', '8,248', '', '485,971', '', '45,312', '', '3,256', '50', '3,808,017', '22,982', '165,698,028', 'Asia', '307', '20,089', '44'], ['33', 'Switzerland', '539,474', '', '9,729', '', '317,600', '', '212,145', '237', '62,054', '1,119', '4,641,323', '533,879', '8,693,588', 'Europe', '16', '894', '2'], ['34', 'Morocco', '477,160', '', '8,440', '', '457,325', '', '11,395', '333', '12,834', '227', '5,493,128', '147,747', '37,179,216', 'Africa', '78', '4,405', '7'], ['35', 'Austria', '429,139', '', '8,138', '', '407,155', '', '13,846', '265', '47,481', '900', '4,739,747', '524,421', '9,038,063', 'Europe', '21', '1,111', '2'], ['36', 'Serbia', '415,943', '', '4,183', '', '31,536', '', '380,224', '141', '47,724', '480', '2,742,087', '314,619', '8,715,576', 'Europe', '21', '2,084', '3'], ['37', 'Japan', '410,012', '', '6,678', '', '375,454', '', '27,880', '713', '3,248', '53', '7,447,270', '58,994', '126,236,803', 'Asia', '308', '18,903', '17'], ['38', 'Hungary', '381,875', '', '13,444', '', '287,134', '', '81,297', '299', '39,592', '1,394', '3,318,850', '344,094', '9,645,171', 'Europe', '25', '717', '3'], ['39', 'Saudi Arabia', '371,720', '', '6,420', '', '362,642', '', '2,658', '437', '10,576', '183', '12,847,483', '365,545', '35,146,084', 'Asia', '95', '5,474', '3'], ['40', 'Jordan', '341,984', '', '4,421', '', '324,070', '', '13,493', '144', '33,314', '431', '4,134,849', '402,795', '10,265,403', 'Asia', '30', '2,322', '2'], ['41', 'UAE', '339,667', '', '974', '', '319,787', '', '18,906', '', '34,090', '98', '27,557,474', '2,765,767', '9,963,773', 'Asia', '29', '10,230', '0'], ['42', 'Lebanon', '331,159', '', '3,866', '', '222,078', '', '105,215', '927', '48,653', '568', '2,758,601', '405,288', '6,806,512', 'Asia', '21', '1,761', '2'], ['43', 'Panama', '330,075', '', '5,572', '', '303,610', '', '20,893', '242', '75,768', '1,279', '1,770,793', '406,482', '4,356,382', 'North America', '13', '782', '2'], ['44', 'Nepal', '272,430', '', '2,052', '', '268,660', '', '1,718', '', '9,248', '70', '2,107,649', '71,549', '29,457,453', 'Asia', '108', '14,355', '14'], ['45', 'Slovakia', '271,473', '', '5,629', '', '253,518', '', '12,326', '590', '49,709', '1,031', '1,871,130', '342,618', '5,461,276', 'Europe', '20', '970', '3'], ['46', 'Georgia', '264,665', '+507', '3,336', '+15', '256,684', '+660', '4,645', '', '66,425', '837', '2,406,994', '604,100', '3,984,430', 'Asia', '15', '1,194', '2'], ['47', 'Belarus', '263,551', '', '1,820', '', '252,068', '', '9,663', '', '27,897', '193', '4,624,687', '489,519', '9,447,402', 'Europe', '36', '5,191', '2'], ['48', 'Ecuador', '262,213', '', '15,174', '', '220,398', '', '26,641', '476', '14,725', '852', '927,261', '52,072', '17,807,250', 'South America', '68', '1,174', '19'], ['49', 'Malaysia', '254,988', '', '936', '', '202,269', '', '51,783', '259', '7,817', '29', '5,420,256', '166,161', '32,620,507', 'Asia', '128', '34,851', '6'], ['50', 'Croatia', '236,709', '', '5,263', '', '228,896', '', '2,550', '88', '57,881', '1,287', '1,250,855', '305,864', '4,089,573', 'Europe', '17', '777', '3'], ['51', 'Bolivia', '233,854', '+1,352', '11,044', '+48', '174,329', '+1,619', '48,481', '71', '19,867', '938', '630,026', '53,525', '11,770,699', 'South America', '50', '1,066', '19'], ['52', 'Azerbaijan', '231,649', '', '3,170', '', '226,119', '', '2,360', '', '22,721', '311', '2,478,223', '243,073', '10,195,388', 'Asia', '44', '3,216', '4'], ['53', 'Bulgaria', '228,044', '', '9,561', '', '195,682', '', '22,801', '293', '32,973', '1,382', '1,502,690', '217,277', '6,915,998', 'Europe', '30', '723', '5'], ['54', 'Dominican Republic', '226,714', '', '2,904', '', '172,562', '', '51,248', '273', '20,771', '266', '1,121,386', '102,740', '10,914,781', 'North America', '48', '3,759', '10'], ['55', 'Tunisia', '220,478', '', '7,429', '', '180,830', '', '32,219', '354', '18,536', '625', '913,488', '76,798', '11,894,620', 'Africa', '54', '1,601', '13'], ['56', 'Ireland', '206,801', '', '3,846', '', '23,364', '', '179,591', '167', '41,596', '774', '3,269,078', '657,541', '4,971,670', 'Europe', '24', '1,293', '2'], ['57', 'Denmark', '203,365', '', '2,269', '', '195,124', '', '5,972', '69', '35,034', '391', '14,796,936', '2,549,093', '5,804,785', 'Europe', '29', '2,558', '0'], ['58', 'Kazakhstan', '200,044', '+951', '2,540', '', '181,974', '+1,167', '15,530', '221', '10,576', '134', '6,399,596', '338,341', '18,914,618', 'Asia', '95', '7,447', '3'], ['59', 'Costa Rica', '198,756', '', '2,710', '', '160,462', '', '35,584', '165', '38,799', '529', '617,086', '120,460', '5,122,727', 'North America', '26', '1,890', '8'], ['60', 'Lithuania', '189,058', '', '3,013', '', '171,777', '', '14,268', '128', '70,056', '1,116', '1,997,904', '740,333', '2,698,656', 'Europe', '14', '896', '1'], ['61', 'Slovenia', '177,140', '', '3,677', '', '159,657', '', '13,806', '158', '85,200', '1,769', '846,252', '407,025', '2,079,115', 'Europe', '12', '565', '2'], ['62', 'Kuwait', '175,031', '', '985', '', '163,895', '', '10,151', '114', '40,617', '229', '1,640,047', '380,584', '4,309,288', 'Asia', '25', '4,375', '3'], ['63', 'Egypt', '171,993', '', '9,857', '', '133,707', '', '28,429', '90', '1,662', '95', '1,000,000', '9,660', '103,514,732', 'Africa', '602', '10,502', '104'], ['64', 'Greece', '168,872', '', '6,056', '', '150,417', '', '12,399', '281', '16,251', '583', '4,602,806', '442,939', '10,391,512', 'Europe', '62', '1,716', '2'], ['65', 'Armenia', '168,830', '+154', '3,138', '+3', '160,838', '+168', '4,854', '', '56,909', '1,058', '676,431', '228,011', '2,966,663', 'Asia', '18', '945', '4'], ['66', 'Moldova', '167,546', '', '3,607', '', '155,557', '', '8,382', '280', '41,594', '895', '658,607', '163,501', '4,028,162', 'Europe', '24', '1,117', '6'], ['67', 'Palestine', '165,535', '', '1,910', '', '154,727', '', '8,898', '57', '31,995', '369', '1,066,281', '206,095', '5,173,740', 'Asia', '31', '2,709', '5'], ['68', 'Guatemala', '165,532', '', '6,023', '', '152,210', '', '7,299', '5', '9,136', '332', '839,269', '46,322', '18,118,278', 'North America', '109', '3,008', '22'], ['69', 'Honduras', '158,355', '+887', '3,838', '+32', '62,991', '+871', '91,526', '416', '15,834', '384', '404,607', '40,456', '10,001,113', 'North America', '63', '2,606', '25'], ['70', 'Qatar', '155,901', '', '254', '', '147,727', '', '7,920', '78', '55,524', '90', '1,449,099', '516,097', '2,807,805', 'Asia', '18', '11,054', '2'], ['71', 'Ethiopia', '144,862', '', '2,171', '', '127,622', '', '15,069', '239', '1,241', '19', '2,026,734', '17,367', '116,698,689', 'Africa', '806', '53,753', '58'], ['72', 'Nigeria', '143,516', '', '1,710', '', '118,012', '', '23,794', '10', '686', '8', '1,398,630', '6,684', '209,252,629', 'Africa', '1,458', '122,370', '150'], ['73', 'Paraguay', '141,775', '', '2,891', '', '117,855', '', '21,029', '237', '19,728', '402', '690,273', '96,054', '7,186,326', 'South America', '51', '2,486', '10'], ['74', 'Myanmar', '141,522', '', '3,184', '', '128,981', '', '9,357', '', '2,590', '58', '2,471,972', '45,246', '54,634,436', 'Asia', '386', '17,159', '22'], ['75', 'Oman', '136,622', '', '1,539', '', '128,461', '', '6,622', '45', '26,346', '297', '1,550,000', '298,897', '5,185,727', 'Asia', '38', '3,370', '3'], ['76', 'Venezuela', '131,828', '', '1,260', '', '123,811', '', '6,757', '107', '4,644', '44', '2,764,178', '97,378', '28,386,074', 'South America', '215', '22,529', '10'], ['77', 'Libya', '126,361', '', '2,009', '', '108,434', '', '15,918', '', '18,238', '290', '689,271', '99,482', '6,928,612', 'Africa', '55', '3,449', '10'], ['78', 'Bosnia and Herzegovina', '125,123', '', '4,868', '', '102,339', '', '17,916', '', '38,285', '1,490', '623,347', '190,733', '3,268,168', 'Europe', '26', '671', '5'], ['79', 'Bahrain', '110,416', '', '393', '', '103,251', '', '6,772', '52', '63,553', '226', '2,860,384', '1,646,372', '1,737,386', 'Asia', '16', '4,421', '1'], ['80', 'Algeria', '110,049', '', '2,930', '', '75,436', '', '31,683', '42', '2,482', '66', '', '', '44,335,512', 'Africa', '403', '15,132', ''], ['81', 'Kenya', '102,353', '', '1,794', '', '84,790', '', '15,769', '31', '1,878', '33', '1,228,047', '22,535', '54,494,209', 'Africa', '532', '30,376', '44'], ['82', 'North Macedonia', '96,152', '', '2,966', '', '87,122', '', '6,064', '131', '46,153', '1,424', '479,430', '230,128', '2,083,321', 'Europe', '22', '702', '4'], ['83', 'Albania', '89,776', '', '1,517', '', '54,362', '', '33,897', '37', '31,217', '527', '393,926', '136,977', '2,875,854', 'Europe', '32', '1,896', '7'], ['84', 'Kyrgyzstan', '85,398', '+70', '1,439', '+2', '82,098', '+92', '1,861', '50', '12,959', '218', '693,811', '105,281', '6,590,113', 'Asia', '77', '4,580', '9'], ['85', 'S. Korea', '82,837', '+403', '1,507', '+11', '72,936', '+298', '8,394', '161', '1,615', '29', '6,093,369', '118,787', '51,296,443', 'Asia', '619', '34,039', '8'], ['86', 'Uzbekistan', '79,340', '+37', '622', '', '77,780', '+54', '938', '153', '2,350', '18', '1,377,915', '40,807', '33,766,609', 'Asia', '426', '54,287', '25'], ['87', 'Latvia', '74,701', '', '1,416', '', '62,844', '', '10,441', '97', '39,878', '756', '1,284,044', '685,467', '1,873,240', 'Europe', '25', '1,323', '1'], ['88', 'Ghana', '73,557', '', '494', '', '66,115', '', '6,948', '113', '2,337', '16', '817,990', '25,993', '31,469,100', 'Africa', '428', '63,703', '38'], ['89', 'Sri Lanka', '73,116', '', '379', '', '66,211', '', '6,526', '', '3,406', '18', '1,831,420', '85,307', '21,468,618', 'Asia', '294', '56,645', '12'], ['90', 'Montenegro', '67,441', '', '869', '', '58,210', '', '8,362', '68', '107,370', '1,384', '249,215', '396,767', '628,115', 'Europe', '9', '723', '3'], ['91', 'Zambia', '66,598', '', '914', '', '59,989', '', '5,695', '397', '3,562', '49', '998,667', '53,413', '18,697,026', 'Africa', '281', '20,456', '19'], ['92', 'Norway', '65,811', '', '592', '', '57,004', '', '8,215', '20', '12,081', '109', '3,562,573', '654,003', '5,447,332', 'Europe', '83', '9,202', '2'], ['93', 'Singapore', '59,759', '', '29', '', '59,558', '', '172', '1', '10,165', '5', '6,799,834', '1,156,698', '5,878,660', 'Asia', '98', '202,712', '1'], ['94', 'El Salvador', '56,653', '', '1,727', '+8', '50,999', '', '3,927', '68', '8,707', '265', '717,882', '110,335', '6,506,379', 'North America', '115', '3,767', '9'], ['95', 'Afghanistan', '55,445', '', '2,424', '', '48,279', '', '4,742', '1,009', '1,405', '61', '270,865', '6,864', '39,463,277', 'Asia', '712', '16,280', '146'], ['96', 'Luxembourg', '52,392', '', '604', '', '49,166', '', '2,622', '15', '82,870', '955', '1,981,645', '3,134,443', '632,216', 'Europe', '12', '1,047', '0'], ['97', 'Estonia', '50,280', '', '480', '', '39,928', '', '9,872', '34', '37,888', '362', '827,150', '623,283', '1,327,086', 'Europe', '26', '2,765', '2'], ['98', 'Finland', '49,165', '', '708', '', '40,000', '', '8,457', '16', '8,865', '128', '3,020,784', '544,675', '5,546,035', 'Europe', '113', '7,833', '2'], ['99', 'Mozambique', '47,790', '', '501', '', '30,124', '', '17,165', '', '1,503', '16', '374,520', '11,782', '31,787,903', 'Africa', '665', '63,449', '85'], ['100', 'Uruguay', '47,254', '', '524', '', '41,426', '', '5,304', '81', '13,574', '151', '914,413', '262,675', '3,481,157', 'South America', '74', '6,643', '4'], ['101', 'Uganda', '39,942', '', '328', '', '14,470', '', '25,144', '', '857', '7', '850,130', '18,236', '46,617,407', 'Africa', '1,167', '142,126', '55'], ['102', 'Cuba', '35,772', '', '253', '', '30,695', '', '4,824', '73', '3,159', '22', '2,088,032', '184,417', '11,322,342', 'North America', '317', '44,752', '5'], ['103', 'Namibia', '35,353', '', '382', '', '33,950', '', '1,021', '15', '13,761', '149', '279,129', '108,650', '2,569,058', 'Africa', '73', '6,725', '9'], ['104', 'Zimbabwe', '34,864', '', '1,364', '', '29,471', '', '4,029', '12', '2,325', '91', '307,046', '20,476', '14,995,578', 'Africa', '430', '10,994', '49'], ['105', 'Cyprus', '32,175', '', '218', '', '2,057', '', '29,900', '35', '26,530', '180', '1,411,725', '1,164,050', '1,212,770', 'Asia', '38', '5,563', '1'], ['106', 'Cameroon', '31,394', '', '474', '', '29,501', '', '1,419', '25', '1,165', '18', '149,000', '5,529', '26,948,455', 'Africa', '858', '56,853', '181'], ['107', 'Ivory Coast', '30,526', '', '171', '', '28,736', '', '1,619', '', '1,140', '6', '375,487', '14,023', '26,776,276', 'Africa', '877', '156,586', '71'], ['108', 'Senegal', '29,914', '', '724', '', '24,597', '', '4,593', '56', '1,758', '43', '351,397', '20,655', '17,012,512', 'Africa', '569', '23,498', '48'], ['109', 'Australia', '28,887', '+10', '909', '', '26,111', '+4', '1,867', '1', '1,125', '35', '13,524,971', '526,641', '25,681,596', 'Australia/Oceania', '889', '28,253', '2'], ['110', 'Malawi', '28,270', '', '914', '', '12,879', '', '14,477', '4', '1,455', '47', '166,746', '8,581', '19,430,946', 'Africa', '687', '21,259', '117'], ['111', 'Sudan', '27,820', '', '1,849', '', '22,208', '', '3,763', '', '626', '42', '', '', '44,473,626', 'Africa', '1,599', '24,053', ''], ['112', 'Botswana', '24,926', '', '202', '', '21,214', '', '3,510', '1', '10,470', '85', '706,026', '296,570', '2,380,640', 'Africa', '96', '11,785', '3'], ['113', 'Thailand', '24,279', '+175', '80', '', '20,210', '+411', '3,989', '1', '347', '1', '1,217,873', '17,421', '69,908,085', 'Asia', '2,879', '873,851', '57'], ['114', 'DRC', '24,026', '', '686', '', '15,170', '', '8,170', '', '263', '8', '', '', '91,214,579', 'Africa', '3,796', '132,966', ''], ['115', 'Angola', '20,261', '', '487', '', '18,710', '', '1,064', '8', '605', '15', '178,539', '5,332', '33,486,722', 'Africa', '1,653', '68,761', '188'], ['116', 'Madagascar', '19,360', '', '285', '', '18,490', '', '585', '16', '688', '10', '114,282', '4,063', '28,124,516', 'Africa', '1,453', '98,683', '246'], ['117', 'Malta', '19,333', '', '286', '', '16,646', '', '2,401', '18', '43,713', '647', '645,643', '1,459,842', '442,269', 'Europe', '23', '1,546', '1'], ['118', 'French Polynesia', '18,257', '', '135', '', '4,842', '', '13,280', '5', '64,762', '479', '26,355', '93,488', '281,909', 'Australia/Oceania', '15', '2,088', '11'], ['119', 'Jamaica', '18,237', '', '363', '', '12,456', '', '5,418', '18', '6,142', '122', '181,173', '61,019', '2,969,137', 'North America', '163', '8,179', '16'], ['120', 'Maldives', '17,387', '', '56', '', '15,081', '', '2,250', '178', '31,823', '102', '450,943', '825,344', '546,370', 'Asia', '31', '9,757', '1'], ['121', 'Rwanda', '17,068', '', '231', '', '13,678', '', '3,159', '15', '1,298', '18', '934,672', '71,089', '13,147,846', 'Africa', '770', '56,917', '14'], ['122', 'Mauritania', '16,925', '', '427', '', '16,155', '', '343'

In [ ]:
for i in finals:
  del i[-1]
  del i[-2]
  del i[-3]
  del i[-4]
  del i[0]
print(finals)

[['USA', '28,002,240', '', '486,922', '', '17,930,819', '', '9,584,499', '20,407', '84,294', '1,466', '994,342', 'North America', '682'], ['India', '10,880,603', '+190', '155,484', '', '10,589,230', '+1,879', '135,889', '8,944', '7,837', '112', '147,506', 'Asia', '8,929'], ['Brazil', '9,716,298', '', '236,397', '', '8,643,693', '', '836,208', '8,318', '45,512', '1,107', '133,964', 'South America', '903'], ['Russia', '4,027,748', '', '78,687', '', '3,538,422', '', '410,639', '2,300', '27,592', '539', '723,421', 'Europe', '1,855'], ['UK', '3,998,655', '', '115,529', '', '2,056,261', '', '1,826,865', '3,132', '58,712', '1,696', '1,178,570', 'Europe', '590'], ['France', '3,406,685', '', '80,803', '', '238,753', '', '3,087,129', '3,337', '52,120', '1,236', '726,202', 'Europe', '809'], ['Spain', '3,041,454', '', '64,217', '', 'N/A', 'N/A', 'N/A', '4,432', '65,036', '1,373', '765,139', 'Europe', '728'], ['Italy', '2,683,403', '', '92,729', '', '2,185,655', '', '405,019', '2,126', '44,422', '1,535', '585,775', 'Europe', '651'], ['Turkey', '2,564,427', '', '27,187', '', '2,453,096', '', '84,144', '1,256', '30,206', '320', '367,030', 'Asia', '3,123'], ['Germany', '2,321,215', '', '64,513', '', '2,101,000', '+13,400', '155,702', '3,736', '27,650', '768', '497,428', 'Europe', '1,301'], ['Colombia', '2,179,641', '', '56,983', '', '2,065,209', '', '57,449', '3,482', '42,558', '1,113', '209,237', 'South America', '899'], ['Argentina', '2,008,345', '', '49,874', '', '1,806,260', '', '152,211', '3,541', '44,187', '1,097', '147,192', 'South America', '911'], ['Mexico', '1,968,566', '+10,677', '171,234', '+1,474', '1,528,304', '+8,732', '269,028', '4,798', '15,170', '1,320', '38,656', 'North America', '758'], ['Poland', '1,570,658', '', '40,177', '', '1,324,101', '', '206,380', '1,267', '41,529', '1,062', '238,706', 'Europe', '941'], ['Iran', '1,496,455', '', '58,751', '', '1,278,857', '', '158,847', '3,735', '17,678', '694', '116,782', 'Asia', '1,441'], ['South Africa', '1,484,900', '', '47,382', '', '1,377,980', '', '59,538', '546', '24,845', '793', '143,986', 'Africa', '1,261'], ['Ukraine', '1,262,867', '+4,773', '24,174', '+116', '1,106,155', '+7,211', '132,538', '177', '28,984', '555', '147,979', 'Europe', '1,802'], ['Peru', '1,212,309', '', '43,045', '', '1,124,236', '', '45,028', '2,047', '36,457', '1,294', '203,521', 'South America', '773'], ['Indonesia', '1,191,990', '', '32,381', '', '993,117', '', '166,492', '', '4,330', '118', '36,083', 'Asia', '8,502'], ['Czechia', '1,073,966', '+8,916', '17,902', '+59', '955,938', '+464', '100,126', '1,057', '100,172', '1,670', '626,744', 'Europe', '599'], ['Netherlands', '1,017,302', '', '14,662', '', 'N/A', 'N/A', 'N/A', '537', '59,289', '855', '406,241', 'Europe', '1,170'], ['Canada', '817,163', '', '21,088', '', '758,328', '', '37,747', '672', '21,535', '556', '598,766', 'North America', '1,799'], ['Portugal', '778,369', '', '14,885', '', '645,122', '', '118,362', '836', '76,473', '1,462', '759,587', 'Europe', '684'], ['Chile', '764,307', '', '19,262', '', '723,493', '', '21,552', '1,538', '39,772', '1,002', '445,424', 'South America', '998'], ['Romania', '755,126', '', '19,200', '', '701,283', '', '34,643', '958', '39,415', '1,002', '295,505', 'Europe', '998'], ['Belgium', '733,100', '+2,149', '21,551', '+39', '50,362', '+161', '661,187', '303', '63,086', '1,855', '755,456', 'Europe', '539'], ['Israel', '714,812', '', '5,283', '', '644,932', '', '64,597', '972', '77,717', '574', '1,226,674', 'Asia', '1,741'], ['Iraq', '636,908', '', '13,144', '', '603,814', '', '19,950', '233', '15,621', '322', '149,816', 'Asia', '3,102'], ['Sweden', '604,577', '', '12,370', '', 'N/A', 'N/A', 'N/A', '226', '59,634', '1,220', '543,545', 'Europe', '820'], ['Pakistan', '560,363', '+1,270', '12,218', '+33', '518,164', '+1,481', '29,981', '1,743', '2,507', '55', '37,406', 'Asia', '18,294'], ['Philippines', '543,282', '', '11,469', '', '500,335', '', '31,478', '807', '4,918', '104', '74,318', 'Asia', '9,633'], ['Bangladesh', '539,531', '', '8,248', '', '485,971', '', '45,312', '', '3,256', '50', '22,982', 'Asia', '20,089'], ['Switzerland', '539,474', '', '9,729', '', '317,600', '', '212,145', '237', '62,054', '1,119', '533,879', 'Europe', '894'], ['Morocco', '477,160', '', '8,440', '', '457,325', '', '11,395', '333', '12,834', '227', '147,747', 'Africa', '4,405'], ['Austria', '429,139', '', '8,138', '', '407,155', '', '13,846', '265', '47,481', '900', '524,421', 'Europe', '1,111'], ['Serbia', '415,943', '', '4,183', '', '31,536', '', '380,224', '141', '47,724', '480', '314,619', 'Europe', '2,084'], ['Japan', '410,012', '', '6,678', '', '375,454', '', '27,880', '713', '3,248', '53', '58,994', 'Asia', '18,903'], ['Hungary', '381,875', '', '13,444', '', '287,134', '', '81,297', '299', '39,592', '1,394', '344,094', 'Europe', '717'], ['Saudi Arabia', '371,720', '', '6,420', '', '362,642', '', '2,658', '437', '10,576', '183', '365,545', 'Asia', '5,474'], ['Jordan', '341,984', '', '4,421', '', '324,070', '', '13,493', '144', '33,314', '431', '402,795', 'Asia', '2,322'], ['UAE', '339,667', '', '974', '', '319,787', '', '18,906', '', '34,090', '98', '2,765,767', 'Asia', '10,230'], ['Lebanon', '331,159', '', '3,866', '', '222,078', '', '105,215', '927', '48,653', '568', '405,288', 'Asia', '1,761'], ['Panama', '330,075', '', '5,572', '', '303,610', '', '20,893', '242', '75,768', '1,279', '406,482', 'North America', '782'], ['Nepal', '272,430', '', '2,052', '', '268,660', '', '1,718', '', '9,248', '70', '71,549', 'Asia', '14,355'], ['Slovakia', '271,473', '', '5,629', '', '253,518', '', '12,326', '590', '49,709', '1,031', '342,618', 'Europe', '970'], ['Georgia', '264,665', '+507', '3,336', '+15', '256,684', '+660', '4,645', '', '66,425', '837', '604,100', 'Asia', '1,194'], ['Belarus', '263,551', '', '1,820', '', '252,068', '', '9,663', '', '27,897', '193', '489,519', 'Europe', '5,191'], ['Ecuador', '262,213', '', '15,174', '', '220,398', '', '26,641', '476', '14,725', '852', '52,072', 'South America', '1,174'], ['Malaysia', '254,988', '', '936', '', '202,269', '', '51,783', '259', '7,817', '29', '166,161', 'Asia', '34,851'], ['Croatia', '236,709', '', '5,263', '', '228,896', '', '2,550', '88', '57,881', '1,287', '305,864', 'Europe', '777'], ['Bolivia', '233,854', '+1,352', '11,044', '+48', '174,329', '+1,619', '48,481', '71', '19,867', '938', '53,525', 'South America', '1,066'], ['Azerbaijan', '231,649', '', '3,170', '', '226,119', '', '2,360', '', '22,721', '311', '243,073', 'Asia', '3,216'], ['Bulgaria', '228,044', '', '9,561', '', '195,682', '', '22,801', '293', '32,973', '1,382', '217,277', 'Europe', '723'], ['Dominican Republic', '226,714', '', '2,904', '', '172,562', '', '51,248', '273', '20,771', '266', '102,740', 'North America', '3,759'], ['Tunisia', '220,478', '', '7,429', '', '180,830', '', '32,219', '354', '18,536', '625', '76,798', 'Africa', '1,601'], ['Ireland', '206,801', '', '3,846', '', '23,364', '', '179,591', '167', '41,596', '774', '657,541', 'Europe', '1,293'], ['Denmark', '203,365', '', '2,269', '', '195,124', '', '5,972', '69', '35,034', '391', '2,549,093', 'Europe', '2,558'], ['Kazakhstan', '200,044', '+951', '2,540', '', '181,974', '+1,167', '15,530', '221', '10,576', '134', '338,341', 'Asia', '7,447'], ['Costa Rica', '198,756', '', '2,710', '', '160,462', '', '35,584', '165', '38,799', '529', '120,460', 'North America', '1,890'], ['Lithuania', '189,058', '', '3,013', '', '171,777', '', '14,268', '128', '70,056', '1,116', '740,333', 'Europe', '896'], ['Slovenia', '177,140', '', '3,677', '', '159,657', '', '13,806', '158', '85,200', '1,769', '407,025', 'Europe', '565'], ['Kuwait', '175,031', '', '985', '', '163,895', '', '10,151', '114', '40,617', '229', '380,584', 'Asia', '4,375'], ['Egypt', '171,993', '', '9,857', '', '133,707', '', '28,429', '90', '1,662', '95', '9,660', 'Africa', '10,502'], ['Greece', '168,872', '', '6,056', '', '150,417', '', '12,399', '281', '16,251', '583', '442,939', 'Europe', '1,716'], ['Armenia', '168,830', '+154', '3,138', '+3', '160,838', '+168', '4,854', '', '56,909', '1,058', '228,011', 'Asia', '945'], ['Moldova', '167,546', '', '3,607', '', '155,557', '', '8,382', '280', '41,594', '895', '163,501', 'Europe', '1,117'], ['Palestine', '165,535', '', '1,910', '', '154,727', '', '8,898', '57', '31,995', '369', '206,095', 'Asia', '2,709'], ['Guatemala', '165,532', '', '6,023', '', '152,210', '', '7,299', '5', '9,136', '332', '46,322', 'North America', '3,008'], ['Honduras', '158,355', '+887', '3,838', '+32', '62,991', '+871', '91,526', '416', '15,834', '384', '40,456', 'North America', '2,606'], ['Qatar', '155,901', '', '254', '', '147,727', '', '7,920', '78', '55,524', '90', '516,097', 'Asia', '11,054'], ['Ethiopia', '144,862', '', '2,171', '', '127,622', '', '15,069', '239', '1,241', '19', '17,367', 'Africa', '53,753'], ['Nigeria', '143,516', '', '1,710', '', '118,012', '', '23,794', '10', '686', '8', '6,684', 'Africa', '122,370'], ['Paraguay', '141,775', '', '2,891', '', '117,855', '', '21,029', '237', '19,728', '402', '96,054', 'South America', '2,486'], ['Myanmar', '141,522', '', '3,184', '', '128,981', '', '9,357', '', '2,590', '58', '45,246', 'Asia', '17,159'], ['Oman', '136,622', '', '1,539', '', '128,461', '', '6,622', '45', '26,346', '297', '298,897', 'Asia', '3,370'], ['Venezuela', '131,828', '', '1,260', '', '123,811', '', '6,757', '107', '4,644', '44', '97,378', 'South America', '22,529'], ['Libya', '126,361', '', '2,009', '', '108,434', '', '15,918', '', '18,238', '290', '99,482', 'Africa', '3,449'], ['Bosnia and Herzegovina', '125,123', '', '4,868', '', '102,339', '', '17,916', '', '38,285', '1,490', '190,733', 'Europe', '671'], ['Bahrain', '110,416', '', '393', '', '103,251', '', '6,772', '52', '63,553', '226', '1,646,372', 'Asia', '4,421'], ['Algeria', '110,049', '', '2,930', '', '75,436', '', '31,683', '42', '2,482', '66', '', 'Africa', '15,132'], ['Kenya', '102,353', '', '1,794', '', '84,790', '', '15,769', '31', '1,878', '33', '22,535', 'Africa', '30,376'], ['North Macedonia', '96,152', '', '2,966', '', '87,122', '', '6,064', '131', '46,153', '1,424', '230,128', 'Europe', '702'], ['Albania', '89,776', '', '1,517', '', '54,362', '', '33,897', '37', '31,217', '527', '136,977', 'Europe', '1,896'], ['Kyrgyzstan', '85,398', '+70', '1,439', '+2', '82,098', '+92', '1,861', '50', '12,959', '218', '105,281', 'Asia', '4,580'], ['S. Korea', '82,837', '+403', '1,507', '+11', '72,936', '+298', '8,394', '161', '1,615', '29', '118,787', 'Asia', '34,039'], ['Uzbekistan', '79,340', '+37', '622', '', '77,780', '+54', '938', '153', '2,350', '18', '40,807', 'Asia', '54,287'], ['Latvia', '74,701', '', '1,416', '', '62,844', '', '10,441', '97', '39,878', '756', '685,467', 'Europe', '1,323'], ['Ghana', '73,557', '', '494', '', '66,115', '', '6,948', '113', '2,337', '16', '25,993', 'Africa', '63,703'], ['Sri Lanka', '73,116', '', '379', '', '66,211', '', '6,526', '', '3,406', '18', '85,307', 'Asia', '56,645'], ['Montenegro', '67,441', '', '869', '', '58,210', '', '8,362', '68', '107,370', '1,384', '396,767', 'Europe', '723'], ['Zambia', '66,598', '', '914', '', '59,989', '', '5,695', '397', '3,562', '49', '53,413', 'Africa', '20,456'], ['Norway', '65,811', '', '592', '', '57,004', '', '8,215', '20', '12,081', '109', '654,003', 'Europe', '9,202'], ['Singapore', '59,759', '', '29', '', '59,558', '', '172', '1', '10,165', '5', '1,156,698', 'Asia', '202,712'], ['El Salvador', '56,653', '', '1,727', '+8', '50,999', '', '3,927', '68', '8,707', '265', '110,335', 'North America', '3,767'], ['Afghanistan', '55,445', '', '2,424', '', '48,279', '', '4,742', '1,009', '1,405', '61', '6,864', 'Asia', '16,280'], ['Luxembourg', '52,392', '', '604', '', '49,166', '', '2,622', '15', '82,870', '955', '3,134,443', 'Europe', '1,047'], ['Estonia', '50,280', '', '480', '', '39,928', '', '9,872', '34', '37,888', '362', '623,283', 'Europe', '2,765'], ['Finland', '49,165', '', '708', '', '40,000', '', '8,457', '16', '8,865', '128', '544,675', 'Europe', '7,833'], ['Mozambique', '47,790', '', '501', '', '30,124', '', '17,165', '', '1,503', '16', '11,782', 'Africa', '63,449'], ['Uruguay', '47,254', '', '524', '', '41,426', '', '5,304', '81', '13,574', '151', '262,675', 'South America', '6,643'], ['Uganda', '39,942', '', '328', '', '14,470', '', '25,144', '', '857', '7', '18,236', 'Africa', '142,126'], ['Cuba', '35,772', '', '253', '', '30,695', '', '4,824', '73', '3,159', '22', '184,417', 'North America', '44,752'], ['Namibia', '35,353', '', '382', '', '33,950', '', '1,021', '15', '13,761', '149', '108,650', 'Africa', '6,725'], ['Zimbabwe', '34,864', '', '1,364', '', '29,471', '', '4,029', '12', '2,325', '91', '20,476', 'Africa', '10,994'], ['Cyprus', '32,175', '', '218', '', '2,057', '', '29,900', '35', '26,530', '180', '1,164,050', 'Asia', '5,563'], ['Cameroon', '31,394', '', '474', '', '29,501', '', '1,419', '25', '1,165', '18', '5,529', 'Africa', '56,853'], ['Ivory Coast', '30,526', '', '171', '', '28,736', '', '1,619', '', '1,140', '6', '14,023', 'Africa', '156,586'], ['Senegal', '29,914', '', '724', '', '24,597', '', '4,593', '56', '1,758', '43', '20,655', 'Africa', '23,498'], ['Australia', '28,887', '+10', '909', '', '26,111', '+4', '1,867', '1', '1,125', '35', '526,641', 'Australia/Oceania', '28,253'], ['Malawi', '28,270', '', '914', '', '12,879', '', '14,477', '4', '1,455', '47', '8,581', 'Africa', '21,259'], ['Sudan', '27,820', '', '1,849', '', '22,208', '', '3,763', '', '626', '42', '', 'Africa', '24,053'], ['Botswana', '24,926', '', '202', '', '21,214', '', '3,510', '1', '10,470', '85', '296,570', 'Africa', '11,785'], ['Thailand', '24,279', '+175', '80', '', '20,210', '+411', '3,989', '1', '347', '1', '17,421', 'Asia', '873,851'], ['DRC', '24,026', '', '686', '', '15,170', '', '8,170', '', '263', '8', '', 'Africa', '132,966'], ['Angola', '20,261', '', '487', '', '18,710', '', '1,064', '8', '605', '15', '5,332', 'Africa', '68,761'], ['Madagascar', '19,360', '', '285', '', '18,490', '', '585', '16', '688', '10', '4,063', 'Africa', '98,683'], ['Malta', '19,333', '', '286', '', '16,646', '', '2,401', '18', '43,713', '647', '1,459,842', 'Europe', '1,546'], ['French Polynesia', '18,257', '', '135', '', '4,842', '', '13,280', '5', '64,762', '479', '93,488', 'Australia/Oceania', '2,088'], ['Jamaica', '18,237', '', '363', '', '12,456', '', '5,418', '18', '6,142', '122', '61,019', 'North America', '8,179'], ['Maldives', '17,387', '', '56', '', '15,081', '', '2,250', '178', '31,823', '102', '825,344', 'Asia', '9,757'], ['Rwanda', '17,068', '', '231', '', '13,678', '', '3,159', '15', '1,298', '18', '71,089', 'Africa', '56,917'], ['Mauritania', '16,925', '', '427', '', '16,155', '', '343', '23', '3,583', '90', '32,923', 'Africa', '11,063'], ['Eswatini', '16,396', '', '619', '', '12,036', '', '3,741', '67', '14,043', '530', '120,548', 'Africa', '1,886'], ['French Guiana', '16,296', '', '79', '', '9,995', '', '6,222', '11', '53,712', '260', '455,721', 'South America', '3,840'], ['Guinea', '14,860', '', '84', '', '14,412', '', '364', '24', '1,113', '6', '9,519', 'Africa', '158,923'], ['Syria', '14,724', '', '968', '', '8,438', '', '5,318', '', '829', '55', '', 'Asia', '18,347'], ['Cabo Verde', '14,601', '', '138', '', '14,084', '', '379', '23', '26,087', '247', '202,776', 'Africa', '4,056'], ['Tajikistan', '13,308', '', '90', '', '13,218', '', '0', '', '1,376', '9', '', 'Asia', '107,426'], ['Mayotte', '12,440', '', '72', '', '2,964', '', '9,404', '28', '44,938', '260', '320,536', 'Africa', '3,845'], ['Gabon', '12,171', '', '71', '', '11,275', '', '825', '22', '5,391', '31', '208,087', 'Africa', '31,799'], ['Belize', '12,114', '', '313', '', '11,605', '', '196', '1', '30,131', '779', '190,392', 'North America', '1,284'], ['Haiti', '12,016', '', '246', '', '9,258', '', '2,512', '', '1,046', '21', '4,294', 'North America', '46,699'], ['Burkina Faso', '11,426', '', '134', '', '10,279', '', '1,013', '', '538', '6', '', 'Africa', '158,597'], ['Réunion', '10,907', '', '47', '', '10,049', '', '811', '17', '12,129', '52', '109,853', 'Africa', '19,133'], ['Hong Kong', '10,732', '', '191', '', '10,076', '', '465', '22', '1,424', '25', '940,971', 'Asia', '39,447'], ['Andorra', '10,391', '', '106', '', '9,781', '', '504', '15', '134,353', '1,371', '2,503,135', 'Europe', '730'], ['Lesotho', '9,819', '', '212', '', '2,896', '', '6,711', '', '4,561', '98', '24,752', 'Africa', '10,154'], ['Guadeloupe', '9,351', '', '156', '', '2,242', '', '6,953', '5', '23,368', '390', '310,881', 'North America', '2,565'], ['Suriname', '8,765', '', '166', '', '8,155', '', '444', '8', '14,859', '281', '65,746', 'South America', '3,553'], ['Congo', '8,354', '', '122', '', '7,019', '', '1,213', '', '1,492', '22', '16,515', 'Africa', '45,909'], ['Bahamas', '8,311', '', '178', '', '6,931', '', '1,202', '1', '21,011', '450', '160,216', 'North America', '2,222'], ['Mali', '8,218', '', '340', '', '6,110', '', '1,768', '', '399', '17', '7,082', 'Africa', '60,604'], ['Guyana', '8,135', '', '184', '', '7,157', '', '794', '7', '10,312', '233', '68,505', 'South America', '4,287'], ['Trinidad and Tobago', '7,632', '', '136', '', '7,318', '', '178', '2', '5,443', '97', '63,512', 'North America', '10,311'], ['Aruba', '7,338', '', '68', '', '6,962', '', '308', '11', '68,550', '635', '865,151', 'North America', '1,574'], ['Martinique', '6,553', '', '45', '', '98', '', '6,410', '3', '17,471', '120', '252,460', 'North America', '8,335'], ['Nicaragua', '6,347', '', '171', '', '4,225', '', '1,951', '', '951', '26', '', 'North America', '39,023'], ['Iceland', '6,026', '', '29', '', '5,976', '', '21', '', '17,589', '85', '1,424,063', 'Europe', '11,814'], ['Djibouti', '5,966', '', '63', '', '5,854', '', '49', '', '5,985', '63', '111,726', 'Africa', '15,822'], ['Togo', '5,687', '', '80', '', '4,789', '', '818', '', '677', '10', '25,852', 'Africa', '104,963'], ['Equatorial Guinea', '5,663', '', '87', '', '5,422', '', '154', '1', '3,958', '61', '64,919', 'Africa', '16,447'], ['Somalia', '5,013', '', '144', '', '3,732', '', '1,137', '', '310', '9', '', 'Africa', '112,242'], ['CAR', '4,996', '', '63', '', '4,885', '', '48', '2', '1,024', '13', '7,278', 'Africa', '77,479'], ['South Sudan', '4,960', '', '71', '', '3,729', '', '1,160', '10', '440', '6', '8,446', 'Africa', '158,793'], ['Niger', '4,665', '', '167', '', '4,100', '', '398', '3', '189', '7', '3,107', 'Africa', '148,124'], ['Curaçao', '4,633', '', '22', '', '4,557', '', '54', '2', '28,163', '134', '281,605', 'North America', '7,478'], ['Benin', '4,560', '', '56', '', '3,772', '', '732', '', '370', '5', '36,039', 'Africa', '219,938'], ['Gambia', '4,302', '', '135', '', '3,891', '', '276', '1', '1,750', '55', '15,489', 'Africa', '18,207'], ['Gibraltar', '4,203', '', '83', '', '4,021', '', '99', '12', '124,774', '2,464', '5,051,032', 'Europe', '406'], ['Channel Islands', '3,961', '', '83', '', '3,534', '', '344', '4', '22,654', '475', '1,942,922', 'Europe', '2,107'], ['Sierra Leone', '3,813', '', '79', '', '2,519', '', '1,215', '', '472', '10', '13,581', 'Africa', '102,229'], ['Chad', '3,581', '', '126', '', '3,088', '', '367', '', '214', '8', '', 'Africa', '132,638'], ['Comoros', '3,276', '', '122', '', '2,601', '', '553', '', '3,719', '138', '', 'Africa', '7,221'], ['San Marino', '3,247', '', '72', '', '2,918', '', '257', '6', '95,570', '2,119', '1,089,389', 'Europe', '472'], ['Guinea-Bissau', '2,848', '', '46', '', '2,432', '', '370', '3', '1,427', '23', '23,843', 'Africa', '43,399'], ['Liechtenstein', '2,534', '', '52', '', '2,457', '', '25', '2', '66,342', '1,361', '667,845', 'Europe', '735'], ['Eritrea', '2,429', '', '7', '', '1,828', '', '594', '', '679', '2', '6,625', 'Africa', '510,932'], ['Saint Lucia', '2,415', '', '22', '', '1,420', '', '973', '2', '13,115', '119', '149,188', 'North America', '8,370'], ['New Zealand', '2,326', '+2', '25', '', '2,257', '+12', '44', '', '465', '5', '315,624', 'Australia/Oceania', '200,084'], ['Mongolia', '2,247', '+40', '2', '', '1,640', '+22', '605', '3', '679', '0

In [ ]:
import pandas as pd
df = pd.DataFrame(finals, columns =headings)
df

        Country,Other  TotalCases  ...      Tests/ 1M pop Population
0                 USA  28,002,240  ...      North America        682
1               India  10,880,603  ...               Asia      8,929
2              Brazil   9,716,298  ...      South America        903
3              Russia   4,027,748  ...             Europe      1,855
4                  UK   3,998,655  ...             Europe        590
..                ...         ...  ...                ...        ...
216  Marshall Islands           4  ...  Australia/Oceania
217             Samoa           2  ...  Australia/Oceania
218        Micronesia           1  ...  Australia/Oceania
219           Vanuatu           1  ...  Australia/Oceania
220             China      89,748  ...               Asia    310,467

[221 rows x 14 columns]

In [ ]:
df.drop(columns=['Tests/ 1M pop'])

        Country,Other  TotalCases NewCases  ... Deaths/1M pop TotalTests Population
0                 USA  28,002,240           ...         1,466    994,342        682
1               India  10,880,603     +190  ...           112    147,506      8,929
2              Brazil   9,716,298           ...         1,107    133,964        903
3              Russia   4,027,748           ...           539    723,421      1,855
4                  UK   3,998,655           ...         1,696  1,178,570        590
..                ...         ...      ...  ...           ...        ...        ...
216  Marshall Islands           4           ...
217             Samoa           2           ...
218        Micronesia           1           ...
219           Vanuatu           1           ...                    1,509
220             China      89,748      +12  ...             3    111,163    310,467

[221 rows x 13 columns]

In [ ]:
df.to_excel (r'C:\Users\Desktop\export_dataframe.xlsx', index = False, header=True)

In [ ]:
df.to_excel (r'project.xlsx', index = False, header=True)

In [ ]:
df.to_csv('project.csv', sep=',')

In [ ]:
import plotly.express as px
fig = px.bar(df, x='Country,Other', y='TotalDeaths')
fig.show()